html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-slider-resource-cards {
  margin: 100px 0;
}
section.u4m-slider-resource-cards.reverse-text h2.heading {
  color: #ffffff;
}
section.u4m-slider-resource-cards .top-wrapper {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
  display: flex;
  justify-content: space-between;
}
section.u4m-slider-resource-cards .top-wrapper .heading {
  font-family: "Inter";
  font-size: 40rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
}
@media (max-width: 1024px) {
  section.u4m-slider-resource-cards .top-wrapper .heading {
    font-size: 28rem;
  }
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .top-wrapper .heading {
    font-size: 25rem;
    margin-bottom: 20rem;
  }
}
@media (max-width: 1024px) {
  section.u4m-slider-resource-cards .top-wrapper .heading {
    font-family: "Inter";
    font-size: 28rem;
    font-weight: 600;
    margin-bottom: 30rem;
    line-height: 1;
    margin: 0;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  section.u4m-slider-resource-cards .top-wrapper .heading {
    font-size: 22rem;
  }
}
@media (max-width: 1024px) and (max-width: 580px) {
  section.u4m-slider-resource-cards .top-wrapper .heading {
    font-size: 20rem;
    margin-bottom: 20rem;
  }
}
section.u4m-slider-resource-cards .top-wrapper .button {
  flex-grow: 1;
  text-align: right;
  font-weight: bold;
  margin: 20rem 0;
  cursor: pointer;
}
section.u4m-slider-resource-cards .top-wrapper .button:after {
  display: inline-block;
  margin-left: 5rem;
  width: 9rem;
  height: 7rem;
}
section.u4m-slider-resource-cards .top-wrapper .button:hover, section.u4m-slider-resource-cards .top-wrapper .button:focus {
  color: #000000;
}
@media (max-width: 767px) {
  section.u4m-slider-resource-cards .top-wrapper .button {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 767px) {
  section.u4m-slider-resource-cards .top-wrapper {
    display: block;
    text-align: center;
  }
}
section.u4m-slider-resource-cards .container {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
  max-width: 1280px;
  opacity: 0;
}
section.u4m-slider-resource-cards .container .slick-list {
  padding-top: 20px;
  padding-bottom: 20px;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track {
  display: flex;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide {
  height: inherit;
  margin: 0 20px;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div {
  height: 100%;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card {
  margin: 20rem;
  padding: 20rem;
  box-shadow: 0rem 1rem 12rem 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  flex-basis: calc(33.333% - 40rem);
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-basis: calc(25% - 40rem);
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0;
  background-color: #ffffff;
  position: relative;
  top: 0;
  transition: top 0.1s ease-in;
  margin: 0;
  height: 100%;
}
@media (max-width: 1024px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card {
    flex-basis: calc(50% - 40rem);
  }
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card {
    width: 100%;
    margin-bottom: 50rem;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card button {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007c43;
  border: 1px solid #007c43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 10rem 20rem;
  font-size: 12rem;
  line-height: 1.2;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card button:hover, section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card button:focus {
  background-color: #ffffff;
  color: #007c43;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .image {
  min-height: 100rem;
  display: flex;
  align-items: center;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .image.filled {
  width: 100%;
  min-height: 203rem;
  border-bottom: 1rem solid #dbdbdb;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .image.filled img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .image a {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  box-shadow: none;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .image a:hover {
  background-color: transparent;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .image img {
  display: block;
  margin: 30rem auto 0 auto;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .image img.left {
  margin: 30rem auto 0 30rem;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content {
  padding: 20rem 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
@media (max-width: 767px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content {
    padding: 20rem;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.url {
  display: flex;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.eyebrow {
  font-family: "Inter";
  font-size: 13rem;
  line-height: 1.3;
  margin-bottom: 20rem;
  color: #eeeeee;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.eyebrow {
    font-size: 13rem;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.title {
  font-family: "Inter";
  font-size: 19rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
  display: block;
  color: #000000;
  margin-top: 5rem;
  margin-bottom: 15rem;
}
@media (max-width: 1024px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.title {
    font-size: 19rem;
  }
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.title {
    font-size: 19rem;
    margin-bottom: 20rem;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.teaser {
  font-family: "Inter";
  font-size: 13rem;
  line-height: 1.3;
  margin-bottom: 20rem;
  color: #000000;
  display: block;
  margin-bottom: 0;
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.teaser {
    font-size: 13rem;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.cta,
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.url {
  margin-top: auto;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.cta a,
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.url a {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007c43;
  border: 1px solid #007c43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 10rem 20rem;
  font-size: 12rem;
  line-height: 1.2;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.cta a:hover, section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.cta a:focus,
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.url a:hover,
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.url a:focus {
  background-color: #ffffff;
  color: #007c43;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card:hover {
  top: -10rem;
}
@media (max-width: 1024px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card {
    flex-basis: calc(33.333% - 40rem);
    flex-grow: 0;
    flex-shrink: 0;
  }
}
@media (max-width: 767px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card {
    flex-basis: calc(50% - 40rem);
    flex-grow: 0;
    flex-shrink: 0;
  }
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card {
    margin: 20rem;
    flex-basis: calc(100% - 40rem);
    flex-grow: 0;
    flex-shrink: 0;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap {
  height: 100%;
  display: block;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .image {
  width: 100%;
  height: 152rem;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content {
  padding: 20rem;
  height: calc(100% - 152rem);
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content .heading {
  font-family: "Inter";
  font-size: 14rem;
  line-height: 1.3;
  margin-bottom: 20rem;
  color: #000000;
  font-weight: bold;
  margin: 0;
  text-align: left;
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content .heading {
    font-size: 14rem;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content span.medium {
  font-family: "Inter";
  font-size: 11rem;
  line-height: 1.3;
  margin-bottom: 10rem;
  color: #000000;
  margin: 0 0 5rem 0;
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content span.medium {
    font-size: 12rem;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content p {
  font-family: "Inter";
  font-size: 11rem;
  line-height: 1.3;
  margin-bottom: 10rem;
  color: #000000;
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content p {
    font-size: 12rem;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content span.learn-more {
  font-weight: bold;
  margin: 20rem 0;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 10rem;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content span.learn-more:after {
  display: inline-block;
  margin-left: 5rem;
  width: 9rem;
  height: 7rem;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content span.learn-more:hover, section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content span.learn-more:focus {
  color: #000000;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .image {
  height: 210px;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content {
  height: calc(100% - 210px);
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card {
    margin: 0;
  }
}
section.u4m-slider-resource-cards .container .slick-dots {
  position: relative;
  padding: 20px;
  position: static;
}
section.u4m-slider-resource-cards .container .slick-dots li button {
  background-color: #6e757c;
  transition: 0.1s ease-in;
  border-radius: 100%;
}
section.u4m-slider-resource-cards .container .slick-dots li button:before {
  opacity: 0;
}
section.u4m-slider-resource-cards .container .slick-dots li button:hover {
  background-color: #eeeeee;
}
section.u4m-slider-resource-cards .container .slick-dots li.slick-active button {
  background-color: #007c43;
}
section.u4m-slider-resource-cards .container .slick-dots > li:only-child {
  display: none;
}
section.u4m-slider-resource-cards .container .slick-active button:before {
  color: #007c43;
  opacity: 1;
}
section.u4m-slider-resource-cards .container.slick-initialized {
  opacity: 1;
}
@media (max-width: 1280px) {
  section.u4m-slider-resource-cards .container {
    padding: 0;
  }
}/*# sourceMappingURL=module.css.map */