{% set moduleName = 'u4m-blog-cards' %}
{% set ExtramoduleClass = '' %}
{% include "../partials/u4-module-includes.html" %}
{% macro Cards(item)%}
<div class="cmCol3 cardItem">
	<div class="itemInr {{ module.module_settings.select_card_theme }} {% if module.module_settings.reverse_text %}cardColor{% endif %}">
		{% if item.featured_image %}
		<div class="itemImg">
			<div class="itemImgin" style="background-image:url({{ item.featured_image }})">	<a class="absltLink" href="{{ item.absolute_url }}"></a></div>
		</div>
		{% endif %}
		<div class="itemCnWrap">
			<div class="itemCntSec">
				{% if item.topic_list %}
				<div class="itemTags">
					{% set included_topics = item.topic_list | rejectattr("slug", "equalto", "featured") | list %}
					{% for topic in included_topics %}
					<a class="{{ topic.slug }}" href="{{ blog_tag_url(group.id, topic.slug) }}">{{ topic.name }}</a>{% if not loop.last %}<span class="dots"></span>{% endif %}
					{% endfor %}
				</div>
				{% endif %}
				<div class="itemMeta">
					<span class="reading-minutes">
						{% set initialPostWords = item.post_body|striptags|wordcount %}
						{% set calculatedPostWords = (initialPostWords/100) * 100 %}
						{% set finishedPostWords = calculatedPostWords|divide(300)|round(2) %}
						{% set number = finishedPostWords|round %}
						{% if number < 1 %}
						{% else %}
						{{ finishedPostWords|round }} minute read
						{% endif %}
					</span> | <span class="itemDate">{{ item.publish_date_local_time.strftime('%B %e, %Y') }}</span>
				</div>
				{% if item.name %}
				<div class="itemTitle">
					<h4>
						<a  href="{{ item.absolute_url }}">
							{{ item.name }}
						</a>
					</h4>
				</div>  
				{% endif %}
			</div>
			{% if module.module_settings.button_text %}
			<div class="intro_btn_wrap">
				<div class="btn_item">
					<a class="arrow-link " href="{{ item.absolute_url }}">
						<span>{{ module.module_settings.button_text }}</span>
						<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M6.83814 5.62106C7.05396 5.83037 7.05396 6.16965 6.83814 6.37896L1.2039 11.843C0.988082 12.0523 0.638231 12.0523 0.422411 11.843L0.161865 11.5904C-0.053955 11.3811 -0.053955 11.0417 0.161865 10.8324L5.14481 6.00001L0.161865 1.16755C-0.0539548 0.958242 -0.0539548 0.618957 0.161865 0.409655L0.422411 0.156977C0.638231 -0.0523252 0.988082 -0.0523252 1.2039 0.156977L6.83814 5.62106Z" fill="#007C43"></path>
						</svg>
					</a>
				</div>
			</div>
			{% endif %}
		</div>

	</div>
</div>
{% endmacro %}
<div class="page-center ">
	<div class="intro_wrapp">
		{% if module.intro_content.include_eyebrow_text or module.intro_content.include_heading or  module.intro_content.include_button%}
		<div class="intro_content flex_wrap">
			<div class="leftContent">
				{% if module.intro_content.include_eyebrow_text %}
				<div class="eyebrow_text">
					{{ module.intro_content.eyebrow_text }}
				</div>
				{% if module.intro_content.include_heading %}
				<{{module.intro_content.heading_size}} class="intro_title">{{ module.intro_content.heading }}</{{module.intro_content.heading_size}}>
					{% endif %}
					{% endif %}
					</div>
				<div class="rightContent">
					{{macros.singleButton(module.intro_content.button_group)}}
				</div>
			</div>
			{% endif %}
		</div>
		<div class="CardWrap">
			<div class="flex_row cardItems">

				{% if module.blog_cards.feed_type == 'recent' %}
				{% set posts = blog_recent_posts(module.blog_cards.select_blog, module.blog_cards.number_of_posts) %} 
				{% elif module.blog_cards.feed_type == 'tag' %}
				{% set posts = blog_recent_tag_posts(module.blog_cards.select_blog, module.blog_cards.select_tag, module.blog_cards.number_of_posts) %} 
				{% endif %}
				{% if module.blog_cards.feed_type == 'recent' || module.blog_cards.feed_type == 'tag' %}
				{% for item in posts %}
				{{ Cards(item)}}
				{% endfor %}
				{% elif module.blog_cards.feed_type == 'postbytitle' %}
				{% for item in module.blog_cards.blog_feed %}
				{% set item = content_by_id(item.select_post) %}
				{% if item %}
				{{ Cards(item)}}
				{% endif %}
				{% endfor %}
				{% elif module.blog_cards.feed_type == 'related' %}
				{% if content.topic_list %}
				{% set max_posts = module.blog_cards.number_of_posts %}
				{% set post_list = [] %}
				{% for topic in content.topic_list %}
				{% set post_list = post_list + blog_recent_topic_posts(group.id, topic.slug, max_posts + 1 ) %}
				{% if loop.last %}
				{% set post_list = post_list|sort(true, false, 'publish_date')|unique('name') %}
				{% set i = 0 %}
				{% for post in post_list %}
				{% if content.absolute_url != post.absolute_url and i < max_posts %}
				{{ Cards(post)}}
				{% set i = i + 1 %}
				{% endif %}
				{% endfor %}
				{% endif %}
				{% endfor %}
				{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
	</section>












