html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

@media (min-width: 1281px) {
  .u4m-logo-trust-marks {
    padding-left: 50rem;
    padding-right: 50rem;
  }
}
.u4m-logo-trust-marks .logostying {
  position: relative;
  z-index: 9;
}
@media (min-width: 1281px) {
  .u4m-logo-trust-marks .logostying.style2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1021px;
    margin: 0 auto;
  }
  .u4m-logo-trust-marks .logostying.style2 .topSec .page-center {
    padding-left: 0;
    padding-right: 45px;
  }
  .u4m-logo-trust-marks .logostying.style2 .intro_content {
    margin: 0;
    padding: 0;
  }
  .u4m-logo-trust-marks .logostying.style2 .intro_content .intro_title {
    margin: 0;
  }
  .u4m-logo-trust-marks .logostying.style2 .logo-trust-marks {
    max-width: 854px;
  }
}
.u4m-logo-trust-marks .logo-trust-marks {
  position: relative;
  z-index: 9;
}
@media (max-width: 1280px) {
  .u4m-logo-trust-marks .logo-trust-marks {
    padding-left: 50rem;
    padding-right: 50rem;
  }
}
.u4m-logo-trust-marks .logo-trust-marks .page-center {
  position: relative;
}
.u4m-logo-trust-marks .logo-trust-marks .page-center:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}
.u4m-logo-trust-marks .logo-trust-marks .page-center .row {
  margin: 0 -22px;
}
.u4m-logo-trust-marks .logo-trust-marks .page-center .row .logo-wrapper .slick-list .slick-track {
  display: flex;
  align-items: center;
  margin: 0 -22px;
}
.u4m-logo-trust-marks .logo-trust-marks .page-center .row .logo-wrapper .slick-list .slick-track .slick-slide {
  line-height: 0;
  padding: 0 22px;
}
.u4m-logo-trust-marks .logo-trust-marks .page-center .row .logo-wrapper .slick-list .slick-track .slick-slide .logo-item img {
  -o-object-fit: cover;
     object-fit: cover;
}
.u4m-logo-trust-marks .logo-trust-marks .page-center .row .logo-wrapper .slick-list .slick-track::before {
  display: none;
}
.u4m-logo-trust-marks .logo-trust-marks .page-center .row .logo-wrapper .slick-list .slick-track::after {
  display: none;
}
.u4m-logo-trust-marks .logo-trust-marks .page-center .row .logo-wrapper .slick-arrow {
  border: 1px solid #213944;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1280px) {
  .u4m-logo-trust-marks .logo-trust-marks .page-center .row .logo-wrapper .slick-arrow {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 1280px) {
  .u4m-logo-trust-marks .logo-trust-marks .page-center .row .logo-wrapper .slick-arrow span {
    font-size: 20px;
  }
}
.u4m-logo-trust-marks .logo-trust-marks .page-center .row .logo-wrapper .slick-arrow.button-prev {
  left: -50px;
  display: none !important;
}
.u4m-logo-trust-marks .logo-trust-marks .page-center .row .logo-wrapper .slick-arrow.button-next {
  right: -85px;
}
@media (min-width: 1281px) and (max-width: 1400px) {
  .u4m-logo-trust-marks .logo-trust-marks .page-center .row .logo-wrapper .slick-arrow.button-next {
    right: -60px;
  }
}
@media (max-width: 1280px) {
  .u4m-logo-trust-marks .logo-trust-marks .page-center .row .logo-wrapper .slick-arrow.button-next {
    right: -45px;
  }
}
@media (max-width: 991px) {
  .u4m-logo-trust-marks .logo-trust-marks .page-center .row .logo-wrapper .slick-arrow.button-next {
    right: -35px;
  }
}
.u4m-logo-trust-marks .gradient6 {
  background: linear-gradient(90deg, #ffffff 41.5%, #f5f0e7 100%);
}