html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

.u4m-logo-trust-marks .intro_content .eyebrow_text {
  font-size: 14rem;
}
.u4m-logo-trust-marks .logo-trust-marks {
  padding: 23px 13px 17px 13px;
  position: relative;
  z-index: 9;
}
.u4m-logo-trust-marks .logo-trust-marks.type_one .page-center:after {
  background: linear-gradient(90deg, #f7f8f6 0%, rgba(247, 248, 246, 0) 50%, #f7f8f6 100%);
}
.u4m-logo-trust-marks .logo-trust-marks.type_two .page-center:after {
  background: linear-gradient(90deg, #dbdbdb 0%, rgba(219, 219, 219, 0) 50%, #dbdbdb 100%);
}
.u4m-logo-trust-marks .logo-trust-marks .page-center {
  position: relative;
}
.u4m-logo-trust-marks .logo-trust-marks .page-center:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}
.u4m-logo-trust-marks .logo-trust-marks .page-center .row .logo-wrapper .slick-list .slick-track {
  display: flex;
  align-items: center;
}
.u4m-logo-trust-marks .logo-trust-marks .page-center .row .logo-wrapper .slick-list .slick-track .slick-slide img {
  padding: 0 30px;
  width: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
}
.u4m-logo-trust-marks .logo-trust-marks .page-center .row .logo-wrapper .slick-list .slick-track .slick-slide img:hover {
  filter: none;
}