html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-slider-simple {
  background-size: cover;
  background-position: 50% 50%;
  background-color: #dbdbdb;
  padding-bottom: 110rem;
}
section.u4m-slider-simple.reverse-text {
  color: #ffffff;
}
section.u4m-slider-simple div.content {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
  max-width: 1280rem;
}
section.u4m-slider-simple div.content .heading {
  font-family: "Inter";
  font-size: 40rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
  text-align: center;
  padding-top: 100rem;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  section.u4m-slider-simple div.content .heading {
    font-size: 28rem;
  }
}
@media (max-width: 580px) {
  section.u4m-slider-simple div.content .heading {
    font-size: 25rem;
    margin-bottom: 20rem;
  }
}
section.u4m-slider-simple div.content .intro {
  text-align: center;
}
section.u4m-slider-simple div.content div.items {
  position: relative;
  text-align: center;
  max-width: 820rem;
  margin: 0 auto;
  float: none;
}
section.u4m-slider-simple div.content div.items .slick-arrow.slick-next:before, section.u4m-slider-simple div.content div.items .slick-arrow.slick-prev:before {
  opacity: 1;
  color: #000000;
  content: "<";
  transition: 0.1s ease-in;
}
section.u4m-slider-simple div.content div.items .slick-arrow.slick-next:hover:before, section.u4m-slider-simple div.content div.items .slick-arrow.slick-prev:hover:before {
  color: #00a4bd;
}
section.u4m-slider-simple div.content div.items .slick-arrow.slick-next {
  right: -65rem;
}
section.u4m-slider-simple div.content div.items .slick-arrow.slick-next:before {
  content: ">";
}
section.u4m-slider-simple div.content div.items .slick-arrow.slick-prev {
  left: -65rem;
}
section.u4m-slider-simple div.content div.items .slick-arrow.slick-prev:before {
  content: "<";
}
section.u4m-slider-simple div.content div.items .slick-dots {
  position: relative;
  bottom: 0;
}
section.u4m-slider-simple div.content div.items .slick-dots li button {
  background-color: #6e757c;
  transition: 0.1s ease-in;
  border-radius: 100%;
}
section.u4m-slider-simple div.content div.items .slick-dots li button:before {
  opacity: 0;
}
section.u4m-slider-simple div.content div.items .slick-dots li button:hover {
  background-color: #eeeeee;
}
section.u4m-slider-simple div.content div.items .slick-dots li.slick-active button {
  background-color: #007c43;
}
section.u4m-slider-simple div.content div.items .slick-dots > li:only-child {
  display: none;
}
section.u4m-slider-simple div.content div.items div.slide {
  width: 100%;
  transition: 0.3s ease;
  z-index: 1;
  margin: 50rem auto 50rem;
  text-align: center;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section.u4m-slider-simple div.content div.items div.slide .image {
  height: 100rem;
  width: 100rem;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
  margin: 0 auto 30rem auto;
}
section.u4m-slider-simple div.content div.items div.slide img.large {
  margin: 0 auto 30rem auto;
}
section.u4m-slider-simple div.content div.items div.slide > span {
  text-align: left;
}
section.u4m-slider-simple div.content div.items div.slide p.quote {
  font-family: "Inter";
  font-size: 40rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 30rem;
  margin-top: 0;
  text-align: center;
}
@media (max-width: 1024px) {
  section.u4m-slider-simple div.content div.items div.slide p.quote {
    font-size: 28rem;
  }
}
@media (max-width: 580px) {
  section.u4m-slider-simple div.content div.items div.slide p.quote {
    font-size: 25rem;
    margin-bottom: 20rem;
  }
}
section.u4m-slider-simple div.content div.items div.slide p.quote span {
  color: #00a4bd;
  font-weight: bold;
}
section.u4m-slider-simple div.content div.items div.slide p.author {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-family: "Inter";
  font-size: 14rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 20rem;
  margin-bottom: 20rem;
}
@media (max-width: 580px) {
  section.u4m-slider-simple div.content div.items div.slide p.author {
    font-size: 14rem;
  }
}
section.u4m-slider-simple div.content div.items div.slide p.author span {
  text-transform: none;
}
section.u4m-slider-simple div.content div.items div.slide a {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007c43;
  border: 1px solid #007c43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 20rem 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 10rem 20rem;
  font-size: 12rem;
  line-height: 1.2;
}
section.u4m-slider-simple div.content div.items div.slide a:hover, section.u4m-slider-simple div.content div.items div.slide a:focus {
  background-color: #ffffff;
  color: #007c43;
}
section.u4m-slider-simple div.content div.items div.slide a:hover {
  background-color: white;
  color: #007c43;
}
section.u4m-slider-simple div.content div.items div.slide.active {
  opacity: 1;
  z-index: 2;
}
section.u4m-slider-simple div.content div.items div.slide.exit {
  z-index: 1;
  transform: translateY(-10rem);
  transition: 1s ease-in;
  opacity: 0;
}