html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-filtered-content {
  padding: 100rem 0;
}
section.u4m-filtered-content .heading {
  font-family: "Inter";
  font-size: 40rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
  text-align: center;
}
@media (max-width: 1024px) {
  section.u4m-filtered-content .heading {
    font-size: 28rem;
  }
}
@media (max-width: 580px) {
  section.u4m-filtered-content .heading {
    font-size: 25rem;
    margin-bottom: 20rem;
  }
}
section.u4m-filtered-content .featured {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
  margin-bottom: 50rem;
}
section.u4m-filtered-content .featured .card {
  display: flex;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .featured .card {
    display: block;
  }
}
section.u4m-filtered-content .featured .card .image-wrap {
  flex: 0 0 50%;
}
section.u4m-filtered-content .featured .card .image-wrap a {
  display: block;
  height: 100%;
}
section.u4m-filtered-content .featured .card .image-wrap a .image {
  height: 100%;
  background-size: cover;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .featured .card .image-wrap a .image {
    height: 160rem;
  }
}
section.u4m-filtered-content .featured .card .image-wrap .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
section.u4m-filtered-content .featured .card .content {
  text-align: left;
  background-color: #DBDBDB;
  padding: 30rem 40rem;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .featured .card .content {
    padding: 20rem;
  }
}
section.u4m-filtered-content .featured .card .content span.medium {
  font-family: "Inter";
  font-size: 14rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 20rem;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .featured .card .content span.medium {
    font-size: 14rem;
  }
}
section.u4m-filtered-content .featured .card .content .heading {
  font-family: "Inter";
  font-size: 28rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
  margin: 0;
  text-align: left;
}
@media (max-width: 1024px) {
  section.u4m-filtered-content .featured .card .content .heading {
    font-size: 22rem;
  }
}
@media (max-width: 580px) {
  section.u4m-filtered-content .featured .card .content .heading {
    font-size: 20rem;
    margin-bottom: 20rem;
  }
}
section.u4m-filtered-content .featured .card .content .heading a {
  color: #000000;
}
section.u4m-filtered-content .featured .card .content p {
  font-family: "Inter";
  font-size: 14rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 20rem;
  margin-bottom: 4rem;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .featured .card .content p {
    font-size: 14rem;
  }
}
section.u4m-filtered-content .featured .card .content a.link {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007C43;
  border: 1px solid #007C43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 20rem 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
section.u4m-filtered-content .featured .card .content a.link:hover, section.u4m-filtered-content .featured .card .content a.link:focus {
  background-color: #ffffff;
  color: #007C43;
}
section.u4m-filtered-content .filters {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
}
section.u4m-filtered-content .filters form.multi-filter {
  background-color: #dbdbdb;
  padding: 20rem 30rem;
  max-width: 765rem;
  margin: 30rem auto 30rem auto;
  float: none;
  overflow: auto;
  max-width: 1240rem;
}
@media (max-width: 1024px) {
  section.u4m-filtered-content .filters form.multi-filter {
    padding: 20rem;
  }
}
section.u4m-filtered-content .filters form.multi-filter h3 {
  font-family: "Inter";
  font-size: 19rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
}
@media (max-width: 1024px) {
  section.u4m-filtered-content .filters form.multi-filter h3 {
    font-size: 19rem;
  }
}
@media (max-width: 580px) {
  section.u4m-filtered-content .filters form.multi-filter h3 {
    font-size: 19rem;
    margin-bottom: 20rem;
  }
}
section.u4m-filtered-content .filters form.multi-filter div.legal-consent-container p,
section.u4m-filtered-content .filters form.multi-filter div.legal-consent-container .hs-form-booleancheckbox label {
  font-family: "Inter";
  font-size: 12rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 10rem;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .filters form.multi-filter div.legal-consent-container p,
  section.u4m-filtered-content .filters form.multi-filter div.legal-consent-container .hs-form-booleancheckbox label {
    font-size: 12rem;
  }
}
section.u4m-filtered-content .filters form.multi-filter.hs-form fieldset, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter fieldset, section.u4m-filtered-content .filters form.multi-filter fieldset {
  max-width: none;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs_error_rollup, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs_error_rollup, section.u4m-filtered-content .filters form.multi-filter .hs_error_rollup {
  flex: 0 0 100%;
  margin: 0;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs_error_rollup ul.hs-error-msgs, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs_error_rollup ul.hs-error-msgs, section.u4m-filtered-content .filters form.multi-filter .hs_error_rollup ul.hs-error-msgs {
  animation: fadeIn2 0.5s ease;
  margin-bottom: 20rem;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs_error_rollup ul.hs-error-msgs li, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs_error_rollup ul.hs-error-msgs li, section.u4m-filtered-content .filters form.multi-filter .hs_error_rollup ul.hs-error-msgs li {
  margin-bottom: 0;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs_error_rollup ul.hs-error-msgs li label, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs_error_rollup ul.hs-error-msgs li label, section.u4m-filtered-content .filters form.multi-filter .hs_error_rollup ul.hs-error-msgs li label {
  color: red;
  font-size: 18rem;
  text-align: center;
  padding: 10rem 0 0;
  margin: 20rem 0 0;
  display: block;
  flex: 0 0 100%;
  font-weight: normal;
  text-transform: none;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-field > label, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-field > label, section.u4m-filtered-content .filters form.multi-filter .hs-form-field > label {
  font-size: 12rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1rem;
  pointer-events: auto;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=text],
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=number],
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=tel],
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=email], section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=text],
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=number],
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=tel],
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=email], section.u4m-filtered-content .filters form.multi-filter .input input[type=text],
section.u4m-filtered-content .filters form.multi-filter .input input[type=number],
section.u4m-filtered-content .filters form.multi-filter .input input[type=tel],
section.u4m-filtered-content .filters form.multi-filter .input input[type=email] {
  border: 1rem solid transparent;
  border-radius: 4rem;
  margin-top: 2rem;
  margin-bottom: 20rem;
  font-size: 16rem;
  background-color: #ffffff;
  padding: 16rem;
  width: 100%;
  appearance: none;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=text].error, section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=text].invalid,
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=number].error,
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=number].invalid,
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=tel].error,
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=tel].invalid,
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=email].error,
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=email].invalid, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=text].error, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=text].invalid,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=number].error,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=number].invalid,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=tel].error,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=tel].invalid,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=email].error,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=email].invalid, section.u4m-filtered-content .filters form.multi-filter .input input[type=text].error, section.u4m-filtered-content .filters form.multi-filter .input input[type=text].invalid,
section.u4m-filtered-content .filters form.multi-filter .input input[type=number].error,
section.u4m-filtered-content .filters form.multi-filter .input input[type=number].invalid,
section.u4m-filtered-content .filters form.multi-filter .input input[type=tel].error,
section.u4m-filtered-content .filters form.multi-filter .input input[type=tel].invalid,
section.u4m-filtered-content .filters form.multi-filter .input input[type=email].error,
section.u4m-filtered-content .filters form.multi-filter .input input[type=email].invalid {
  border: 1rem solid red;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=text]::placeholder,
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=number]::placeholder,
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=tel]::placeholder,
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=email]::placeholder, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=text]::placeholder,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=number]::placeholder,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=tel]::placeholder,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=email]::placeholder, section.u4m-filtered-content .filters form.multi-filter .input input[type=text]::placeholder,
section.u4m-filtered-content .filters form.multi-filter .input input[type=number]::placeholder,
section.u4m-filtered-content .filters form.multi-filter .input input[type=tel]::placeholder,
section.u4m-filtered-content .filters form.multi-filter .input input[type=email]::placeholder {
  color: #eeeeee;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=checkbox],
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=radio], section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=checkbox],
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=radio], section.u4m-filtered-content .filters form.multi-filter .input input[type=checkbox],
section.u4m-filtered-content .filters form.multi-filter .input input[type=radio] {
  width: auto;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input select, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input select, section.u4m-filtered-content .filters form.multi-filter .input input select {
  border: 0;
  border-radius: 4rem;
  margin-top: 2rem;
  margin-bottom: 20rem;
  font-size: 16rem;
  background-color: #ffffff;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .input input[type=file], section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input input[type=file], section.u4m-filtered-content .filters form.multi-filter .input input[type=file] {
  font-size: 16rem;
  font-family: "Inter";
  background-color: transparent;
  position: relative;
  font-weight: bold;
  margin-bottom: 23rem;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .input select, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input select, section.u4m-filtered-content .filters form.multi-filter .input select {
  appearance: none;
  background: url("//cdn2.hubspot.net/hubfs/302335/select-arrow.png") no-repeat;
  background-size: 13rem 8rem;
  background-position: 97% 51%;
  border: 0;
  border-radius: 4rem;
  margin-top: 2rem;
  margin-bottom: 20rem;
  font-size: 16rem;
  background-color: #ffffff;
  padding: 16rem;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .input + .hs-error-msgs, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input + .hs-error-msgs, section.u4m-filtered-content .filters form.multi-filter .input + .hs-error-msgs {
  position: relative;
  width: 100%;
  padding-left: 0;
  list-style: none;
  text-align: center;
  margin: 0rem 0 20rem;
  padding: 0;
  animation: fadeIn1 0.3s ease;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .filters form.multi-filter.hs-form .input + .hs-error-msgs, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input + .hs-error-msgs, section.u4m-filtered-content .filters form.multi-filter .input + .hs-error-msgs {
    position: relative;
  }
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .input + .hs-error-msgs li, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input + .hs-error-msgs li, section.u4m-filtered-content .filters form.multi-filter .input + .hs-error-msgs li {
  position: relative;
  text-align: center;
  background: red;
  display: inline-block;
  color: white;
  border-radius: 5rem;
  padding: 5rem 8rem;
  line-height: 1.2;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .input + .hs-error-msgs li:before, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input + .hs-error-msgs li:before, section.u4m-filtered-content .filters form.multi-filter .input + .hs-error-msgs li:before {
  border-style: solid;
  border-width: 0 8rem 8rem 8rem;
  bottom: 100%;
  border-color: transparent transparent red transparent;
  position: absolute;
  height: 8rem;
  width: 0rem;
  content: "";
  left: 0;
  right: 0;
  margin: auto;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .input + .hs-error-msgs li label, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input + .hs-error-msgs li label, section.u4m-filtered-content .filters form.multi-filter .input + .hs-error-msgs li label {
  font-size: 12rem;
  font-family: "Inter";
  text-transform: uppercase;
  letter-spacing: 1rem;
  display: inline-block;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 1rem;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .filters form.multi-filter.hs-form .input + .hs-error-msgs li label, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .input + .hs-error-msgs li label, section.u4m-filtered-content .filters form.multi-filter .input + .hs-error-msgs li label {
    font-size: 12rem;
  }
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs_upload_resume, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs_upload_resume, section.u4m-filtered-content .filters form.multi-filter .hs_upload_resume {
  margin-bottom: -3rem;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form textarea, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter textarea, section.u4m-filtered-content .filters form.multi-filter textarea {
  border: 0;
  border-radius: 5rem;
  margin-top: 3rem;
  margin-bottom: 20rem;
  min-height: 100rem;
  font-size: 16rem;
  background-color: #ffffff;
  width: 100%;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form textarea.invalid, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter textarea.invalid, section.u4m-filtered-content .filters form.multi-filter textarea.invalid {
  border: 1px solid red;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form ul, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter ul, section.u4m-filtered-content .filters form.multi-filter ul {
  padding: 0;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form ul.inputs-list, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter ul.inputs-list, section.u4m-filtered-content .filters form.multi-filter ul.inputs-list {
  margin-bottom: 17rem;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form li, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter li, section.u4m-filtered-content .filters form.multi-filter li {
  list-style-type: none;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form li.hs-form-booleancheckbox, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter li.hs-form-booleancheckbox, section.u4m-filtered-content .filters form.multi-filter li.hs-form-booleancheckbox {
  margin-bottom: 0;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-checkbox,
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-booleancheckbox,
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-checkbox,
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-booleancheckbox, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-checkbox,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-booleancheckbox,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-checkbox,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-booleancheckbox, section.u4m-filtered-content .filters form.multi-filter .hs-form-checkbox,
section.u4m-filtered-content .filters form.multi-filter .hs-form-booleancheckbox,
section.u4m-filtered-content .filters form.multi-filter .hs-form-checkbox,
section.u4m-filtered-content .filters form.multi-filter .hs-form-booleancheckbox {
  line-height: 1.2;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-checkbox input,
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-booleancheckbox input,
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-checkbox input,
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-booleancheckbox input, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-checkbox input,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-booleancheckbox input,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-checkbox input,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-booleancheckbox input, section.u4m-filtered-content .filters form.multi-filter .hs-form-checkbox input,
section.u4m-filtered-content .filters form.multi-filter .hs-form-booleancheckbox input,
section.u4m-filtered-content .filters form.multi-filter .hs-form-checkbox input,
section.u4m-filtered-content .filters form.multi-filter .hs-form-booleancheckbox input {
  width: auto;
  margin: 0 10rem 15rem 0;
  position: relative;
  top: 8rem;
  float: left;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-checkbox label,
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-booleancheckbox label,
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-checkbox label,
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-booleancheckbox label, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-checkbox label,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-booleancheckbox label,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-checkbox label,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-booleancheckbox label, section.u4m-filtered-content .filters form.multi-filter .hs-form-checkbox label,
section.u4m-filtered-content .filters form.multi-filter .hs-form-booleancheckbox label,
section.u4m-filtered-content .filters form.multi-filter .hs-form-checkbox label,
section.u4m-filtered-content .filters form.multi-filter .hs-form-booleancheckbox label {
  font-size: 16rem;
  font-weight: normal;
  display: flex;
  align-items: center;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-checkbox label span,
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-booleancheckbox label span,
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-checkbox label span,
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-booleancheckbox label span, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-checkbox label span,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-booleancheckbox label span,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-checkbox label span,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-booleancheckbox label span, section.u4m-filtered-content .filters form.multi-filter .hs-form-checkbox label span,
section.u4m-filtered-content .filters form.multi-filter .hs-form-booleancheckbox label span,
section.u4m-filtered-content .filters form.multi-filter .hs-form-checkbox label span,
section.u4m-filtered-content .filters form.multi-filter .hs-form-booleancheckbox label span {
  position: relative;
  top: 2rem;
  font-size: 14rem;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-radio,
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-1 .hs-form-radio,
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-2 .hs-form-radio,
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-3 .hs-form-radio, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-radio,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-1 .hs-form-radio,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-2 .hs-form-radio,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-3 .hs-form-radio, section.u4m-filtered-content .filters form.multi-filter .hs-form-radio,
section.u4m-filtered-content .filters form.multi-filter .form-columns-1 .hs-form-radio,
section.u4m-filtered-content .filters form.multi-filter .form-columns-2 .hs-form-radio,
section.u4m-filtered-content .filters form.multi-filter .form-columns-3 .hs-form-radio {
  display: inline-block;
  margin-right: 20rem;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-radio input,
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-1 .hs-form-radio input,
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-2 .hs-form-radio input,
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-3 .hs-form-radio input, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-radio input,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-1 .hs-form-radio input,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-2 .hs-form-radio input,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-3 .hs-form-radio input, section.u4m-filtered-content .filters form.multi-filter .hs-form-radio input,
section.u4m-filtered-content .filters form.multi-filter .form-columns-1 .hs-form-radio input,
section.u4m-filtered-content .filters form.multi-filter .form-columns-2 .hs-form-radio input,
section.u4m-filtered-content .filters form.multi-filter .form-columns-3 .hs-form-radio input {
  width: auto;
  margin-right: 10rem;
  margin-left: 2rem;
  position: relative;
  top: -2rem;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-radio span,
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-1 .hs-form-radio span,
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-2 .hs-form-radio span,
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-3 .hs-form-radio span, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-radio span,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-1 .hs-form-radio span,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-2 .hs-form-radio span,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-3 .hs-form-radio span, section.u4m-filtered-content .filters form.multi-filter .hs-form-radio span,
section.u4m-filtered-content .filters form.multi-filter .form-columns-1 .hs-form-radio span,
section.u4m-filtered-content .filters form.multi-filter .form-columns-2 .hs-form-radio span,
section.u4m-filtered-content .filters form.multi-filter .form-columns-3 .hs-form-radio span {
  font-size: 14rem;
  font-weight: normal;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-radio,
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-1 .hs-form-radio,
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-2 .hs-form-radio,
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-3 .hs-form-radio, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-radio,
  section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-1 .hs-form-radio,
  section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-2 .hs-form-radio,
  section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-3 .hs-form-radio, section.u4m-filtered-content .filters form.multi-filter .hs-form-radio,
  section.u4m-filtered-content .filters form.multi-filter .form-columns-1 .hs-form-radio,
  section.u4m-filtered-content .filters form.multi-filter .form-columns-2 .hs-form-radio,
  section.u4m-filtered-content .filters form.multi-filter .form-columns-3 .hs-form-radio {
    display: block;
  }
  section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-form-radio input,
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-1 .hs-form-radio input,
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-2 .hs-form-radio input,
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-3 .hs-form-radio input, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-form-radio input,
  section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-1 .hs-form-radio input,
  section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-2 .hs-form-radio input,
  section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-3 .hs-form-radio input, section.u4m-filtered-content .filters form.multi-filter .hs-form-radio input,
  section.u4m-filtered-content .filters form.multi-filter .form-columns-1 .hs-form-radio input,
  section.u4m-filtered-content .filters form.multi-filter .form-columns-2 .hs-form-radio input,
  section.u4m-filtered-content .filters form.multi-filter .form-columns-3 .hs-form-radio input {
    margin-bottom: 0;
    position: relative;
    top: 2rem;
  }
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-3 .hs-form-field, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-3 .hs-form-field, section.u4m-filtered-content .filters form.multi-filter .form-columns-3 .hs-form-field {
  width: 33.05%;
}
@media (max-width: 1024px) {
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-3 .hs-form-field, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-3 .hs-form-field, section.u4m-filtered-content .filters form.multi-filter .form-columns-3 .hs-form-field {
    width: 100%;
  }
}
@media (max-width: 580px) {
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-3 .hs-form-field, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-3 .hs-form-field, section.u4m-filtered-content .filters form.multi-filter .form-columns-3 .hs-form-field {
    width: 100%;
  }
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-3 div:last-child div, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-3 div:last-child div, section.u4m-filtered-content .filters form.multi-filter .form-columns-3 div:last-child div {
  margin-right: 0;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-2 .hs-form-field, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-2 .hs-form-field, section.u4m-filtered-content .filters form.multi-filter .form-columns-2 .hs-form-field {
    width: 100%;
  }
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-1 .input,
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-1 select,
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-2 .input,
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-2 select,
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-3 .input,
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-3 select, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-1 .input,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-1 select,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-2 .input,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-2 select,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-3 .input,
section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-3 select, section.u4m-filtered-content .filters form.multi-filter .form-columns-1 .input,
section.u4m-filtered-content .filters form.multi-filter .form-columns-1 select,
section.u4m-filtered-content .filters form.multi-filter .form-columns-2 .input,
section.u4m-filtered-content .filters form.multi-filter .form-columns-2 select,
section.u4m-filtered-content .filters form.multi-filter .form-columns-3 .input,
section.u4m-filtered-content .filters form.multi-filter .form-columns-3 select {
  margin-right: 0;
  width: 100%;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-1 div div,
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-1 div:last-child div,
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-2 div div,
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-2 div:last-child div,
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-3 div div,
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-3 div:last-child div, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-1 div div,
  section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-1 div:last-child div,
  section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-2 div div,
  section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-2 div:last-child div,
  section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-3 div div,
  section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-3 div:last-child div, section.u4m-filtered-content .filters form.multi-filter .form-columns-1 div div,
  section.u4m-filtered-content .filters form.multi-filter .form-columns-1 div:last-child div,
  section.u4m-filtered-content .filters form.multi-filter .form-columns-2 div div,
  section.u4m-filtered-content .filters form.multi-filter .form-columns-2 div:last-child div,
  section.u4m-filtered-content .filters form.multi-filter .form-columns-3 div div,
  section.u4m-filtered-content .filters form.multi-filter .form-columns-3 div:last-child div {
    margin-right: 8rem;
  }
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-1 div div .hs-input:not([type=checkbox]):not([type=radio]),
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-1 div:last-child div .hs-input:not([type=checkbox]):not([type=radio]),
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-2 div div .hs-input:not([type=checkbox]):not([type=radio]),
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-2 div:last-child div .hs-input:not([type=checkbox]):not([type=radio]),
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-3 div div .hs-input:not([type=checkbox]):not([type=radio]),
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-3 div:last-child div .hs-input:not([type=checkbox]):not([type=radio]), section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-1 div div .hs-input:not([type=checkbox]):not([type=radio]),
  section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-1 div:last-child div .hs-input:not([type=checkbox]):not([type=radio]),
  section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-2 div div .hs-input:not([type=checkbox]):not([type=radio]),
  section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-2 div:last-child div .hs-input:not([type=checkbox]):not([type=radio]),
  section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-3 div div .hs-input:not([type=checkbox]):not([type=radio]),
  section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-3 div:last-child div .hs-input:not([type=checkbox]):not([type=radio]), section.u4m-filtered-content .filters form.multi-filter .form-columns-1 div div .hs-input:not([type=checkbox]):not([type=radio]),
  section.u4m-filtered-content .filters form.multi-filter .form-columns-1 div:last-child div .hs-input:not([type=checkbox]):not([type=radio]),
  section.u4m-filtered-content .filters form.multi-filter .form-columns-2 div div .hs-input:not([type=checkbox]):not([type=radio]),
  section.u4m-filtered-content .filters form.multi-filter .form-columns-2 div:last-child div .hs-input:not([type=checkbox]):not([type=radio]),
  section.u4m-filtered-content .filters form.multi-filter .form-columns-3 div div .hs-input:not([type=checkbox]):not([type=radio]),
  section.u4m-filtered-content .filters form.multi-filter .form-columns-3 div:last-child div .hs-input:not([type=checkbox]):not([type=radio]) {
    width: 100%;
  }
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-2 > div, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-2 > div, section.u4m-filtered-content .filters form.multi-filter .form-columns-2 > div {
  width: calc(50% - 10rem);
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-2 > div:last-of-type, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-2 > div:last-of-type, section.u4m-filtered-content .filters form.multi-filter .form-columns-2 > div:last-of-type {
  margin-left: 20rem;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .filters form.multi-filter.hs-form .form-columns-2 > div:last-of-type, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .form-columns-2 > div:last-of-type, section.u4m-filtered-content .filters form.multi-filter .form-columns-2 > div:last-of-type {
    margin-left: 0;
  }
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-button, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-button, section.u4m-filtered-content .filters form.multi-filter .hs-button {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007C43;
  border: 1px solid #007C43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 20rem 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-button:hover, section.u4m-filtered-content .filters form.multi-filter.hs-form .hs-button:focus, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-button:hover, section.u4m-filtered-content .filters form.multi-filter.mixitup-multifilter .hs-button:focus, section.u4m-filtered-content .filters form.multi-filter .hs-button:hover, section.u4m-filtered-content .filters form.multi-filter .hs-button:focus {
  background-color: #ffffff;
  color: #007C43;
}
section.u4m-filtered-content .filters form.multi-filter fieldset {
  max-width: none;
  border: 0;
  padding: 0;
  margin: 0 0 20rem;
  position: relative;
}
section.u4m-filtered-content .filters form.multi-filter fieldset:last-child {
  margin: 0;
}
section.u4m-filtered-content .filters form.multi-filter fieldset .icon {
  width: 15rem;
  position: absolute;
  top: 50%;
  right: 20rem;
  transform: translateY(-50%);
}
section.u4m-filtered-content .filters form.multi-filter fieldset.buttons button {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007C43;
  border: 1px solid #007C43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 20rem 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 10rem 20rem;
  font-size: 12rem;
  line-height: 1.2;
  margin-right: 20rem;
  margin-bottom: 0;
}
section.u4m-filtered-content .filters form.multi-filter fieldset.buttons button:hover, section.u4m-filtered-content .filters form.multi-filter fieldset.buttons button:focus {
  background-color: #ffffff;
  color: #007C43;
}
section.u4m-filtered-content .filters form.multi-filter fieldset.buttons button.mixitup-control-active {
  background-color: #000000;
}
section.u4m-filtered-content .filters form.multi-filter fieldset.selects select {
  border: 1rem solid rgba(0, 0, 0, 0);
  border-radius: 12rem;
  margin-top: 2rem;
  font-size: 16rem;
  background-color: #ffffff;
  padding: 10rem 15rem;
  width: 100%;
  -moz-appearance: none;
  appearance: none;
}
section.u4m-filtered-content .filters form.multi-filter fieldset.checkboxes label {
  display: inline-block;
  margin: 0 10px;
}
section.u4m-filtered-content .filters form.multi-filter fieldset.checkboxes label input {
  margin: 0 10px 0 0;
}
section.u4m-filtered-content .filters form.multi-filter fieldset.search {
  margin: 20rem 0;
}
section.u4m-filtered-content .filters form.multi-filter fieldset.search input {
  border: 1rem solid rgba(0, 0, 0, 0);
  border-radius: 12rem;
  margin-top: 2rem;
  font-size: 16rem;
  background-color: #ffffff;
  padding: 10rem 15rem;
  width: 100%;
  appearance: none;
}
section.u4m-filtered-content .filters form.multi-filter.mixitup-sorting {
  display: flex;
}
section.u4m-filtered-content .filters form.multi-filter.mixitup-sorting fieldset {
  flex: auto;
  margin: 0;
  display: flex;
}
section.u4m-filtered-content .filters form.multi-filter.mixitup-sorting fieldset.selects {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
section.u4m-filtered-content .filters form.multi-filter.mixitup-sorting fieldset.selects label {
  white-space: nowrap;
  margin: 0 10rem 0 0;
}
section.u4m-filtered-content .filters form.multi-filter.mixitup-sorting fieldset.buttons {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
}
section.u4m-filtered-content .filters form.multi-filter.mixitup-sorting fieldset.buttons button {
  margin: 0 0 0 10rem;
  background-color: #007C43;
}
section.u4m-filtered-content .filters form.multi-filter.mixitup-sorting fieldset.buttons button svg {
  filter: invert(1);
}
section.u4m-filtered-content .filters form.multi-filter.mixitup-sorting fieldset.buttons button svg {
  width: 20rem;
  height: 20rem;
}
section.u4m-filtered-content .filters form.multi-filter.mixitup-sorting fieldset.buttons button:hover:not(.active) {
  background-color: #000000;
}
section.u4m-filtered-content .filters form.multi-filter.mixitup-sorting fieldset.buttons button.active {
  background-color: #000000;
  box-shadow: unset;
}
section.u4m-filtered-content #container {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
section.u4m-filtered-content #container .resource-card {
  margin: 20rem;
  padding: 20rem;
  box-shadow: 0rem 1rem 12rem 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #DBDBDB;
  background-color: #ffffff;
  flex-basis: calc(33.333% - 40rem);
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-basis: calc(25% - 40rem);
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0;
  background-color: #ffffff;
  position: relative;
  top: 0;
  transition: top 0.1s ease-in;
  position: relative;
  top: 0;
  transition: top 0.1s ease-in;
}
@media (max-width: 1024px) {
  section.u4m-filtered-content #container .resource-card {
    flex-basis: calc(50% - 40rem);
  }
}
@media (max-width: 580px) {
  section.u4m-filtered-content #container .resource-card {
    width: 100%;
    margin-bottom: 50rem;
  }
}
section.u4m-filtered-content #container .resource-card button {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007C43;
  border: 1px solid #007C43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 20rem 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 10rem 20rem;
  font-size: 12rem;
  line-height: 1.2;
}
section.u4m-filtered-content #container .resource-card button:hover, section.u4m-filtered-content #container .resource-card button:focus {
  background-color: #ffffff;
  color: #007C43;
}
section.u4m-filtered-content #container .resource-card .image {
  min-height: 100rem;
  display: flex;
  align-items: center;
}
section.u4m-filtered-content #container .resource-card .image.filled {
  width: 100%;
  min-height: 203rem;
  border-bottom: 1rem solid #DBDBDB;
}
section.u4m-filtered-content #container .resource-card .image.filled img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0;
}
section.u4m-filtered-content #container .resource-card .image a {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  box-shadow: none;
}
section.u4m-filtered-content #container .resource-card .image a:hover {
  background-color: transparent;
}
section.u4m-filtered-content #container .resource-card .image img {
  display: block;
  margin: 30rem auto 0 auto;
}
section.u4m-filtered-content #container .resource-card .image img.left {
  margin: 30rem auto 0 30rem;
}
section.u4m-filtered-content #container .resource-card .content {
  padding: 20rem 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
@media (max-width: 767px) {
  section.u4m-filtered-content #container .resource-card .content {
    padding: 20rem;
  }
}
section.u4m-filtered-content #container .resource-card .content span.url {
  display: flex;
}
section.u4m-filtered-content #container .resource-card .content span.eyebrow {
  font-family: "Inter";
  font-size: 13rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 20rem;
  color: #EEEEEE;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media (max-width: 580px) {
  section.u4m-filtered-content #container .resource-card .content span.eyebrow {
    font-size: 13rem;
  }
}
section.u4m-filtered-content #container .resource-card .content span.title {
  font-family: "Inter";
  font-size: 19rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
  display: block;
  color: #000000;
  margin-top: 5rem;
  margin-bottom: 15rem;
}
@media (max-width: 1024px) {
  section.u4m-filtered-content #container .resource-card .content span.title {
    font-size: 19rem;
  }
}
@media (max-width: 580px) {
  section.u4m-filtered-content #container .resource-card .content span.title {
    font-size: 19rem;
    margin-bottom: 20rem;
  }
}
section.u4m-filtered-content #container .resource-card .content span.teaser {
  font-family: "Inter";
  font-size: 13rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 20rem;
  color: #000000;
  display: block;
  margin-bottom: 0;
}
@media (max-width: 580px) {
  section.u4m-filtered-content #container .resource-card .content span.teaser {
    font-size: 13rem;
  }
}
section.u4m-filtered-content #container .resource-card .content span.cta,
section.u4m-filtered-content #container .resource-card .content span.url {
  margin-top: auto;
}
section.u4m-filtered-content #container .resource-card .content span.cta a,
section.u4m-filtered-content #container .resource-card .content span.url a {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007C43;
  border: 1px solid #007C43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 20rem 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 10rem 20rem;
  font-size: 12rem;
  line-height: 1.2;
}
section.u4m-filtered-content #container .resource-card .content span.cta a:hover, section.u4m-filtered-content #container .resource-card .content span.cta a:focus,
section.u4m-filtered-content #container .resource-card .content span.url a:hover,
section.u4m-filtered-content #container .resource-card .content span.url a:focus {
  background-color: #ffffff;
  color: #007C43;
}
section.u4m-filtered-content #container .resource-card:hover {
  top: -10rem;
}
@media (max-width: 1024px) {
  section.u4m-filtered-content #container .resource-card {
    flex-basis: calc(33.333% - 40rem);
    flex-grow: 0;
    flex-shrink: 0;
  }
}
@media (max-width: 767px) {
  section.u4m-filtered-content #container .resource-card {
    flex-basis: calc(50% - 40rem);
    flex-grow: 0;
    flex-shrink: 0;
  }
}
@media (max-width: 580px) {
  section.u4m-filtered-content #container .resource-card {
    margin: 20rem;
    flex-basis: calc(100% - 40rem);
    flex-grow: 0;
    flex-shrink: 0;
  }
}
section.u4m-filtered-content #container .resource-card a.link-wrap {
  height: 100%;
  display: block;
}
section.u4m-filtered-content #container .resource-card a.link-wrap .image {
  width: 100%;
  height: 152rem;
}
section.u4m-filtered-content #container .resource-card a.link-wrap .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0;
}
section.u4m-filtered-content #container .resource-card a.link-wrap .content {
  padding: 20rem;
  height: calc(100% - 152rem);
}
section.u4m-filtered-content #container .resource-card a.link-wrap .content .heading {
  font-family: "Inter";
  font-size: 14rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 20rem;
  color: #000000;
  font-weight: bold;
  margin: 0;
  text-align: left;
}
@media (max-width: 580px) {
  section.u4m-filtered-content #container .resource-card a.link-wrap .content .heading {
    font-size: 14rem;
  }
}
section.u4m-filtered-content #container .resource-card a.link-wrap .content span.medium {
  font-family: "Inter";
  font-size: 12rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 10rem;
  color: #000000;
  margin: 0 0 5rem 0;
}
@media (max-width: 580px) {
  section.u4m-filtered-content #container .resource-card a.link-wrap .content span.medium {
    font-size: 12rem;
  }
}
section.u4m-filtered-content #container .resource-card a.link-wrap .content p {
  font-family: "Inter";
  font-size: 12rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 10rem;
  color: #000000;
}
@media (max-width: 580px) {
  section.u4m-filtered-content #container .resource-card a.link-wrap .content p {
    font-size: 12rem;
  }
}
section.u4m-filtered-content #container .resource-card a.link-wrap .content span.learn-more {
  font-weight: bold;
  margin: 20rem 0;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 10rem;
}
section.u4m-filtered-content #container .resource-card a.link-wrap .content span.learn-more:after {
  display: inline-block;
  margin-left: 5rem;
  width: 9rem;
  height: 7rem;
}
section.u4m-filtered-content #container .resource-card a.link-wrap .content span.learn-more:hover, section.u4m-filtered-content #container .resource-card a.link-wrap .content span.learn-more:focus {
  color: #000000;
}
section.u4m-filtered-content #container .resource-card[data-layout=row] {
  display: flex;
  flex: 0 0 calc(100% - 40rem);
  flex-direction: row;
  transition: unset;
}
section.u4m-filtered-content #container .resource-card[data-layout=row] .link-wrap {
  display: flex;
  flex: 1;
  height: unset;
  transition: unset;
}
section.u4m-filtered-content #container .resource-card[data-layout=row] .link-wrap .image {
  height: unset;
  min-height: unset;
  flex: 1 1 auto;
  max-width: 30%;
}
section.u4m-filtered-content #container .resource-card[data-layout=row] .link-wrap .content {
  flex: auto;
}
section.u4m-filtered-content #mix-no-results {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  display: none;
}
section.u4m-filtered-content .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50rem;
  /* Adjust the margin-top value */
}
section.u4m-filtered-content .pagination button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0;
  background-color: #DBDBDB;
  color: #000000;
  min-height: 55rem;
  min-width: 55rem;
  padding: 0;
  margin: 0 5rem;
  font-weight: bold;
  transition: 0.1s ease-in;
  text-transform: uppercase;
  font-size: 14rem;
  line-height: 1.2;
  letter-spacing: 0.25rem;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0rem 1rem 12rem 0 rgba(51, 71, 91, 0.1);
}
@media (max-width: 580px) {
  section.u4m-filtered-content .pagination button {
    min-height: 30rem;
    min-width: 30rem;
    font-size: 13rem;
  }
}
section.u4m-filtered-content .pagination button:hover {
  background-color: #007C43;
  color: #ffffff;
}
section.u4m-filtered-content .pagination button.mixitup-control-active {
  background-color: #007C43;
  color: #ffffff;
}
section.u4m-filtered-content .pagination.paginate.mixitup-page-list-disabled {
  display: none;
}
section.u4m-filtered-content .pagination.loadmore {
  text-align: center;
}
section.u4m-filtered-content .pagination.loadmore button {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007C43;
  border: 1px solid #007C43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 20rem 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
section.u4m-filtered-content .pagination.loadmore button:hover, section.u4m-filtered-content .pagination.loadmore button:focus {
  background-color: #ffffff;
  color: #007C43;
}
section.u4m-filtered-content .pagination.loadmore button.hidden {
  display: none;
}