html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-filtered-content.reverse-text .featCardsListWrap .pagination nav button.prevnext {
  border: 1px solid #ffffff;
  color: #ffffff;
}
section.u4m-filtered-content .topSec .flex_row {
  gap: 40px;
}
@media (min-width: 992px) {
  section.u4m-filtered-content .topSec .flex_row {
    gap: 0px;
  }
}
section.u4m-filtered-content .topSec .flex_row .intro_wrapp {
  max-width: 100%;
}
@media (min-width: 992px) {
  section.u4m-filtered-content .topSec .flex_row .intro_wrapp {
    max-width: 341px;
  }
}
section.u4m-filtered-content .topSec .flex_row .intro_wrapp .intro_content {
  padding: 0;
  text-align: left;
  max-width: 100%;
  margin: 0;
}
section.u4m-filtered-content .topSec .flex_row .intro_wrapp .intro_content .intro_btn_wrap {
  justify-content: start;
  margin-top: 32px;
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter {
  max-width: 100%;
  width: 100%;
}
@media (min-width: 992px) {
  section.u4m-filtered-content .topSec .flex_row .featCardsOuter {
    max-width: calc(100% - 341px);
    padding-left: 60px;
  }
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems {
  margin: 0 -10px;
  row-gap: 20px;
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem {
  padding: 0 10px;
  width: 100%;
}
@media (min-width: 768px) {
  section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem {
    width: 50%;
  }
}
@media (min-width: 992px) {
  section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem {
    width: 33.33%;
  }
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr {
  border-radius: 4rem;
  overflow: hidden;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15));
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr.cardColor * {
  color: #ffffff;
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr.cardColor .itemCnWrap .itemCntSec .itemTags span {
  background: #ffffff;
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr a {
  text-decoration: none;
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr a:not(.arrow-link) {
  color: inherit;
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr a.arrow-link {
  padding: 0;
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemImg .itemImgin {
  position: relative;
  padding-bottom: 258px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemImg .itemImgin {
    padding-bottom: 56.66%;
  }
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemImg .itemImgin .absltLink {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemCnWrap {
  display: flex;
  flex-direction: column;
  padding: 36px 24px;
}
@media (min-width: 768px) {
  section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemCnWrap {
    height: calc(100% - 258px);
  }
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec {
  margin-bottom: 32px;
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec .itemMetain {
  margin-bottom: 32px;
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec .itemTitle h4 {
  margin: 0;
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec .itemTags {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 13rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 8px;
  flex-wrap: nowrap;
  color: #006f3c;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec .itemTags {
    flex-wrap: wrap;
  }
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec .itemTags span {
  width: 4px;
  height: 4px;
  background: #213944;
  border-radius: 100%;
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec .itemMeta {
  font-size: 13rem;
  line-height: 1;
  margin-bottom: 32px;
  text-transform: uppercase;
  display: flex;
  gap: 7px;
  flex-wrap: nowrap;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec .itemMeta {
    flex-wrap: wrap;
  }
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemCnWrap .intro_btn_wrap {
  margin: auto 0 0;
  justify-content: start;
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .featCards {
  margin: 0;
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems {
  margin: 0;
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem {
  padding: 0;
  width: 100%;
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr {
  display: flex;
  align-items: center;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr {
    display: block;
  }
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr > * {
  width: 50%;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr > * {
    width: 100%;
  }
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemImg .itemImgin {
  padding-bottom: 333px;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemImg .itemImgin {
    padding-bottom: 56.66%;
  }
}
section.u4m-filtered-content .topSec .flex_row .featCardsOuter .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec .itemTitle {
  margin-bottom: 8px;
}
section.u4m-filtered-content .featCardsListWrap .filterWrap {
  padding: 60rem 0;
}
@media (max-width: 767px) {
  section.u4m-filtered-content .featCardsListWrap .filterWrap {
    padding: 40rem 0;
  }
}
section.u4m-filtered-content .featCardsListWrap .filterWrap .flex_row {
  justify-content: center;
  gap: 20px;
}
section.u4m-filtered-content .featCardsListWrap .filterWrap .flex_row .selctArrow {
  padding: 0;
  max-width: 390px;
  width: 100%;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .featCardsListWrap .filterWrap .flex_row .selctArrow {
    max-width: 100%;
  }
}
section.u4m-filtered-content .featCardsListWrap .filterWrap .flex_row .selctArrow select {
  background-size: 12px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-position: calc(100% - 30px) center;
  padding: 12.5px 64px 12.5px 24px;
  border-radius: 12px;
  border: 1px solid #6e757c;
  outline: none;
  color: #6e757c;
  line-height: 1.3;
}
section.u4m-filtered-content .featCardsListWrap .cardSctn {
  margin-bottom: 60px;
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems {
  margin: 0 -10px;
  row-gap: 20px;
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem {
  padding: 0 10px;
  width: 100%;
}
@media (min-width: 768px) {
  section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem {
    width: 50%;
  }
}
@media (min-width: 992px) {
  section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem {
    width: 33.33%;
  }
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr {
  border-radius: 4rem;
  overflow: hidden;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15));
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr.cardColor * {
  color: #ffffff;
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr.cardColor .itemCnWrap .itemCntSec .itemTags span {
  background: #ffffff;
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr a {
  text-decoration: none;
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr a:not(.arrow-link) {
  color: inherit;
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr a.arrow-link {
  padding: 0;
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr .itemImg .itemImgin {
  position: relative;
  padding-bottom: 258px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr .itemImg .itemImgin {
    padding-bottom: 56.66%;
  }
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr .itemImg .itemImgin .absltLink {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr .itemCnWrap {
  display: flex;
  flex-direction: column;
  padding: 36px 24px;
}
@media (min-width: 768px) {
  section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr .itemCnWrap {
    height: calc(100% - 258px);
  }
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec {
  margin-bottom: 32px;
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec .itemMetain {
  margin-bottom: 32px;
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec .itemTitle h4 {
  margin: 0;
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec .itemTags {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 13rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 8px;
  flex-wrap: nowrap;
  color: #006f3c;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec .itemTags {
    flex-wrap: wrap;
  }
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec .itemTags span {
  width: 4px;
  height: 4px;
  background: #213944;
  border-radius: 100%;
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec .itemMeta {
  font-size: 13rem;
  line-height: 1;
  margin-bottom: 32px;
  text-transform: uppercase;
  display: flex;
  gap: 7px;
  flex-wrap: nowrap;
}
@media (max-width: 580px) {
  section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr .itemCnWrap .itemCntSec .itemMeta {
    flex-wrap: wrap;
  }
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .cardItem .itemInr .itemCnWrap .intro_btn_wrap {
  margin: auto 0 0;
  justify-content: start;
}
section.u4m-filtered-content .featCardsListWrap .cardSctn .cardItems .statusCnt {
  width: 100%;
  text-align: center;
  margin: 0;
}
section.u4m-filtered-content .featCardsListWrap .pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
}
section.u4m-filtered-content .featCardsListWrap .pagination nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
section.u4m-filtered-content .featCardsListWrap .pagination nav button {
  background: none;
  border: none;
  padding: 0;
  outline: none;
}
section.u4m-filtered-content .featCardsListWrap .pagination nav button.prevnext {
  background: none;
  border: 1px solid #213944;
  border-radius: 100%;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #213944;
}
section.u4m-filtered-content .featCardsListWrap .pagination nav button.prevnext span {
  pointer-events: none;
}
section.u4m-filtered-content .featCardsListWrap .pagination nav button:not(.prevnext) {
  color: #006f3c;
  font-weight: 600;
  text-align: center;
}
section.u4m-filtered-content .featCardsListWrap .pagination nav button.active {
  border-bottom: 2px solid #006f3c;
}