@import "../../css/_module-imports";

section.u4m-filtered-content {
  .topSec {
    .intro_wrapp {
      max-width: 341px;
      .intro_content {
        padding: 0;
        text-align: left;
        max-width: 100%;
        margin: 0;
        .intro_btn_wrap {
          justify-content: start;
          margin-top: 32px;
        }
      }
    }
    .featCardsOuter {
      max-width: calc(100% - 341px);
      width: 100%;
      padding-left: 60px;
      @include cardItem;
      .featCards {
        margin: 0;
      }
      .cardItems {
        margin: 0;
        .cardItem {
          padding: 0;
          width: 100%;
          .itemInr {
            display: flex;
            align-items: center;
            > * {
              width: 50%;
            }
            .itemImg {
              .itemImgin {
                padding-bottom: 333px;
              }
            }
            .itemCnWrap {
              .itemCntSec {
                .itemTags {
                  margin-bottom: 32px;
                }
                .itemTitle {
                  margin-bottom: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
  .featCardsListWrap {
    .filterWrap {
      padding: 60px 0;
      .flex_row {
        justify-content: center;
        gap: 20px;
        .selctArrow {
          padding: 0;
          max-width: 390px;
          width: 100%;
          select {
            background-size: 12px;
            background-repeat: no-repeat;
            appearance: none;
            background-position: calc(100% - 30px) center;
            padding: 12.5px 64px 12.5px 24px;
            border-radius: 12px;
            border: 1px solid $gray2;
            outline: none;
            color: $gray2;
            line-height: 1.3;
          }
        }
      }
    }
    .cardSctn {
      margin-bottom: 60px;
      @include cardItem;
      .cardItems {
        .cardItem {
          .itemInr {
            .itemCnWrap {
              .itemCntSec {
                .itemTags {
                  margin-bottom: 32px;
                }
              }
            }
          }
        }
        .statusCnt {
          width: 100%;
          text-align: center;
          margin: 0;
        }
      }
    }
    .pagination {
      margin: 0;
      padding: 0;
      list-style: none;
      align-items: center;
      justify-content: center;
      nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        button {
          background: none;
          border: none;
          padding: 0;
          outline: none;
          &.prevnext {
            background: none;
            border: 1px solid $heading;
            border-radius: 100%;
            height: 44px;
            width: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            color: $heading;
            span {
              pointer-events: none;
            }
          }
          &:not(.prevnext) {
            color: $action1;
            font-weight: 600;
            text-align: center;
          }
          &.active {
            border-bottom: 2px solid $action1;
          }
        }
      }
    }
  }
}
