{% set moduleName = 'u4m-filtered-content' %}
{% set ExtramoduleClass = '' %}
{% include "../partials/u4-module-includes.html" %}
{% set table =  module.filtered_content.select_hubdb_table  %}
{% set query = '-hs_created_at' %}
{% set resouces = hubdb_table_rows(table,query) %}

{% set ft_query = '-hs_created_at&limit=1000' %}
{% set ft_resouces = hubdb_table_rows(table,ft_query) %}
<div class="page-center ">

	<div class="topSec">
		<div class="flex_row">
			<div class="intro_wrapp">
				{{macros.introGroup(module.intro_content)}}
			</div>
			{% if ft_resouces|length > 0 %}
			<div class="featCardsOuter"> 
				<div class="featCards cardItems">  
					{% for row in ft_resouces %} 
					{% if row.featured %}
					<div class="cmCol3 cardItem">
						<div class="itemInr {{ module.module_settings.select_card_theme }} {% if module.module_settings.reverse_text %}cardColor{% endif %}">
							{% if row.image.url %}
							<div class="itemImg">
								<div class="itemImgin" style="background-image:url({{ row.image.url }})">	<a class="absltLink" href="{{ row.link }}"></a></div>
							</div>
							{% endif %}
							<div class="itemCnWrap">
								<div class="itemCntSec">
									{% if row.topic.name %}
									<div class="itemTags">{{ row.topic.name }}</div>
									{% endif %}
									<div class="itemTitle ">
										<h4 >
											<a  href="{{ row.link }}">
												{{ row.name }}
											</a>
										</h4>
									</div>  
									{% if row.description %}
									<div class="itemDescription">{{ row.description }}</div>  
									{% endif %}
								</div>
								{% if module.module_settings.button_text %}
								<div class="intro_btn_wrap">
									<div class="btn_item">
										<a class="arrow-link " href="{{ row.link }}">
											<span>{{ module.module_settings.button_text }}</span>
											<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M6.83814 5.62106C7.05396 5.83037 7.05396 6.16965 6.83814 6.37896L1.2039 11.843C0.988082 12.0523 0.638231 12.0523 0.422411 11.843L0.161865 11.5904C-0.053955 11.3811 -0.053955 11.0417 0.161865 10.8324L5.14481 6.00001L0.161865 1.16755C-0.0539548 0.958242 -0.0539548 0.618957 0.161865 0.409655L0.422411 0.156977C0.638231 -0.0523252 0.988082 -0.0523252 1.2039 0.156977L6.83814 5.62106Z" fill="#007C43"></path>
											</svg>
										</a>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %} 
				</div> 
			</div>
			{% endif %}
		</div>
	</div>

	<div class="featCardsListWrap">
		<div class="filterWrap">
			<div class="filters">
				<div id="filters" class="flex_row"> 
					<div class="col selctArrow">   
						<select name="type" id="type" class="resourceSelect" style="background-image: url({{ get_asset_url('../../templates/images/selectArrow.png') }});">
							<option value="" selected>Select Type...</option> 
							{% for type in hubdb_table_column(table, 'type').options %}
							<option value="{{ type.name|lower|replace(' ','-') }}">{{ type.name }}</option>
							{% endfor %}
						</select> 
					</div>   
					<div class="col selctArrow">  
						<select name="topic" id="topic" class="topicSelect resourceSelect" style="background-image: url({{ get_asset_url('../../templates/images/selectArrow.png') }});">
							<option value="" selected>Select Topic...</option> 
							{% for topic in hubdb_table_column(table, 'topic').options %}
							<option value="{{ topic.name|lower|replace(' ','-') }}">{{ topic.name }}</option>
							{% endfor %}
						</select> 
					</div>  

				</div> 
			</div>	
		</div>


		<div class="cardSctn row-fluid">
			<div class="flex_row cardItems resourceList">
				{% for row in resouces %}
				<div class="resourceCard cmCol3 cardItem {{ row.type.name|lower|replace(' ','-') }} {{ row.topic.name|lower|replace(' ','-') }}">
					<div class="itemInr {{ module.module_settings.select_card_theme }} {% if module.module_settings.reverse_text %}cardColor{% endif %}">
						{% if row.image.url %}
						<div class="itemImg">
							<div class="itemImgin" style="background-image:url({{ row.image.url }})">	<a class="absltLink" href="{{ row.link }}"></a></div>
						</div>
						{% endif %}
						<div class="itemCnWrap">
							<div class="itemCntSec">
								{% if row.topic.name %}
								<div class="itemTags">{{ row.topic.name }}</div>
								{% endif %}
								{% if row.name %}
								<div class="itemTitle">
									<h4 class="restitle">
										<a  href="{{ row.link }}">
											{{ row.name }}
										</a>
									</h4>
								</div>  
								{% endif %}
							</div>
							{% if module.module_settings.button_text %}
							<div class="intro_btn_wrap">
								<div class="btn_item">
									<a class="arrow-link " href="{{ row.link }}">
										<span>{{ module.module_settings.button_text }}</span>
										<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M6.83814 5.62106C7.05396 5.83037 7.05396 6.16965 6.83814 6.37896L1.2039 11.843C0.988082 12.0523 0.638231 12.0523 0.422411 11.843L0.161865 11.5904C-0.053955 11.3811 -0.053955 11.0417 0.161865 10.8324L5.14481 6.00001L0.161865 1.16755C-0.0539548 0.958242 -0.0539548 0.618957 0.161865 0.409655L0.422411 0.156977C0.638231 -0.0523252 0.988082 -0.0523252 1.2039 0.156977L6.83814 5.62106Z" fill="#007C43"></path>
										</svg>
									</a>
								</div>
							</div>
							{% endif %}
						</div>

					</div>
				</div>
				{% endfor %} 
			</div> 
		</div>   

		<ul id="pagination{{ name|replace('widget_','')|replace('module_','') }}" class="pagination"></ul> 

	</div>
</div>
</section>












