{% set moduleName = 'u4m-filtered-content' %}
{% set ExtramoduleClass = '' %}
{% include "../partials/u4-module-includes.html" %}

{# {% set table =  module.hubdbtable_field  %}

{% set table =  module.filtered_content.select_hubdb_table  %} #}
{# {% set query = '-hs_created_at' %}
{% set resouces = hubdb_table_rows(table,query) %} #}



{# {% set ft_query = '-hs_created_at&limit=1000' %}
{% set ft_resouces = hubdb_table_rows(table,ft_query) %}
 #}

{# =============. #}


{% set table =  module.filtered_content.select_hubdb_table  %}
{% set query = ""%}
{% set batch_num = module.filtered_content.number_of_posts %}



{% if not request.query_dict.page_num %}
{% set page_num = 1 %}
{% set offset_num = 0 %}
{% elif request.query_dict.page_num %}
{% set page_num = request.query_dict.page_num %}
{% set offset_num = page_num|add(-1) * batch_num %}
{% endif %}


{% set limit = "&limit=" ~ batch_num ~ "&offset=" ~ offset_num %}


{% set query =  "orderBy=hs_created_at" %}

{% if request.query_dict.type %}
{% set query = query ~ '&type__in=' ~ request.query_dict.type|urlencode %}
{% endif %} 

{% if request.query_dict.topic %}
{% set query = query  ~ '&topic__in=' ~ request.query_dict.topic|urlencode %}
{% endif %}


{# {% if request.query_dict.search %}
{% set query = query  ~ '&name__icontains=' ~ request.query_dict.search|urlencode %}
{% endif %} #}


{% set resouces = hubdb_table_rows(table,query ~ limit) %}
{% set rowType = [] %}
{% set rowTagsType = [] %}



{% set query2 = "orderBy=hs_created_at" %}
 
{% set query3 = query ~ '&featured=true'%}
 

{% set ft_resources = hubdb_table_rows(table, query3 ) %}

<div class="page-center ">

  <div class="topSec">
    <div class="flex_row">
      <div class="intro_wrapp">
        {{macros.introGroup(module.intro_content)}}
      </div>
      
      <div class="featCardsOuter"> 
        <div class="featCards cardItems">  
          {% for row in ft_resources %} 

         {% if loop.first %}
          <div class="cmCol3 cardItem">
            <div class="itemInr {{ module.module_settings.select_top_card_theme }} {% if module.module_settings.reverse_text %}cardColor{% endif %}" {% if module.module_settings.select_top_card_theme == "custom" %}style="background-color:{{ module.module_settings.top_background_color.rgba }}"{%  endif %}>
              {% if row.image.url %}
              <div class="itemImg">
                <div class="itemImgin" style="background-image:url({{ row.image.url }})">	<a class="absltLink" href="{{ row.link }}"></a></div>
              </div>
              {% endif %}
              <div class="itemCnWrap">
                <div class="itemCntSec">
                  <div class="itemTags">{% for tag in row.topic %}{{ tag.label|capitalize }} {% if not loop.last %}<span class="dots"></span>{% endif %} {% endfor %}</div>
                  <div class="itemTitle ">
                    <h3 >
                      <a  href="{{ row.link }}">
                        {{ row.name }}
                      </a>
                    </h3>
                  </div>  
                  {% if row.description %}
                  <div class="itemDescription">{{ row.description }}</div>  
                  {% endif %}
                </div>
                {% if row.read_more_text %}
                <div class="intro_btn_wrap">
                  <div class="btn_item">
                    <a class="arrow-link " href="{{ row.link }}">
                      <span>{{ row.read_more_text }}</span>
                      <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.83814 5.62106C7.05396 5.83037 7.05396 6.16965 6.83814 6.37896L1.2039 11.843C0.988082 12.0523 0.638231 12.0523 0.422411 11.843L0.161865 11.5904C-0.053955 11.3811 -0.053955 11.0417 0.161865 10.8324L5.14481 6.00001L0.161865 1.16755C-0.0539548 0.958242 -0.0539548 0.618957 0.161865 0.409655L0.422411 0.156977C0.638231 -0.0523252 0.988082 -0.0523252 1.2039 0.156977L6.83814 5.62106Z" fill="#007C43"></path>
                      </svg>
                    </a>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}
           
          {% endfor %} 
        </div> 
      </div>
      
    </div>
  </div>

  <div class="featCardsListWrap">
    <div class="filterWrap">
      <div class="filters">
        <div id="filters" class="flex_row"> 
 

          <div class=" selctArrow tag-col">   
            <div class="filter_label type_filter_label" style="background-image: url({{ get_asset_url('../../templates/images/selectArrow.png') }});">
              Filter by Type
            </div>
            <div class="filter_dropdown typeSelect  tag_filter" data-value="">
              <div class="type_ele ele" data-type="" data-type-label>
                <span class="tag_name">Filter by Type</span>
              </div>
              {% for type in hubdb_table_column(table, 'type').options %}
              <div class="type_ele ele" data-type="{{ type.name|urlencode }}" data-type-label="{{ type.name|replace('_',' ') }}" data-type-url="{{ type.name|replace('_','-')|lower }}">
                <span class="tag_name">{{ type.name|replace('_',' ') }}</span>
              </div>
              {% endfor %}
            </div>
          </div> 


          <div class=" selctArrow tag-col">   
            <div class="filter_label topic_filter_label" style="background-image: url({{ get_asset_url('../../templates/images/selectArrow.png') }});">
              Filter by Topic
            </div>
            <div class="filter_dropdown topicSelect  tag_filter" data-value="">
              <div class="topic_ele ele" data-topic="" data-topic-label>
                <span class="tag_name">Filter by Topic</span>
              </div>
              {% for topic in hubdb_table_column(table, 'topic').options %}
              <div class="topic_ele ele" data-topic="{{ topic.name|urlencode }}" data-topic-label="{{ topic.name|replace('_',' ') }}" data-topic-url="{{ topic.name|replace(' ','-')|lower }}">
                <span class="tag_name">{{ topic.name|replace('_',' ') }}</span>
              </div>
              {% endfor %}
            </div>
          </div>  


        </div> 
      </div>	
    </div>

    <div class='listing-wrap'>


      <div class="cardSctn row-fluid">
        <div class="flex_row cardItems resourceList">
          {% for row in resouces %}
          <div class="resourceCard cmCol3 cardItem {{ row.type.name|lower|replace(' ','-') }} {% for tag in row.topic %}{{ tag.name|lower|replace(' ','-') }} {% endfor %}"   >
            <div class="itemInr {{ module.module_settings.select_card_theme }} {% if module.module_settings.reverse_text %}cardColor{% endif %}" {% if module.module_settings.select_card_theme == "custom" %}style="background-color:{{ module.module_settings.background_color.rgba }}"{%  endif %}>
              {% if row.image.url %}
              <div class="itemImg">
                <div class="itemImgin" style="background-image:url({{ row.image.url }})">	<a class="absltLink" href="{{ row.link }}"></a></div>
              </div>
              {% endif %}
              <div class="itemCnWrap">
                <div class="itemCntSec">
                  <div class="itemTags">{% for tag in row.type %}{{ tag.name|capitalize }} {% if not loop.last %}<span class="dots"></span>{% endif %} {% endfor %}</div>
                  {#<div class="itemMeta">
                    span class="reading-minutes">

                      {% set initialPostWords = row.description|striptags|wordcount %}
                      {% set calculatedPostWords = initialPostWords / 100 %}
                      {% set finishedPostWords = calculatedPostWords|divide(300)|round(2) %}
                      {% set number = finishedPostWords|round %}
                      {% if number < 1 %}
                      Less than one min
                      {% else %}
                      {{ finishedPostWords|round }} minute read
                      {% endif %}
                    </span>
                    | <span class="itemDate">{{ row.date|datetimeformat('%B %e, %Y') }}</span>
                    
                  </div>#}
                  {% if row.name %}
                  <div class="itemTitle">
                    <h3 class="restitle">
                      <a  href="{{ row.link }}">
                        {{ row.name }}
                      </a>
                    </h3>
                  </div>  
                  {% endif %}
                </div>
                {% if row.read_more_text %}
                <div class="intro_btn_wrap">
                  <div class="btn_item">
                    <a class="arrow-link " href="{{ row.link }}">
                      <span>{{ row.read_more_text }}</span>
                      <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.83814 5.62106C7.05396 5.83037 7.05396 6.16965 6.83814 6.37896L1.2039 11.843C0.988082 12.0523 0.638231 12.0523 0.422411 11.843L0.161865 11.5904C-0.053955 11.3811 -0.053955 11.0417 0.161865 10.8324L5.14481 6.00001L0.161865 1.16755C-0.0539548 0.958242 -0.0539548 0.618957 0.161865 0.409655L0.422411 0.156977C0.638231 -0.0523252 0.988082 -0.0523252 1.2039 0.156977L6.83814 5.62106Z" fill="#007C43"></path>
                      </svg>
                    </a>
                  </div>
                </div>
                {% endif %}
              </div>

            </div>
          </div>
          {% endfor %} 
        </div> 
      </div>   

      {#     <ul id="pagination{{ name|replace('widget_','')|replace('module_','') }}" class="pagination"></ul>  #}


      <div class="pagi_wranation" >

        {% set nav = hubdb_table_rows(table, query) %}
        {% set total_pages = (nav|length/batch_num)|round(0, 'ceil') %} 
        {% set more_pages = nav|length % batch_num %}

        <nav  id="pagination{{ name|replace('widget_','')|replace('module_','') }}" class="hbdb_dsp_table_pagination pagination" data-total="{{total_pages}}" data-page="{{page_num}}">
          <div class="nav-links">


            {% if page_num > 1 %}
            <a class="prev page-numbers" href="{{ content.absolute_url }}?topic={{request.query_dict.topic|urlencode}}&type={{request.query_dict.type|urlencode}}&page_num={{ page_num|add(-1) }}" data-page-num="{{ page_num|add(-1) }}">
              <span class="material-symbols-outlined">arrow_back</span>
            </a>
            {% endif %}


            {% set page_list = [-2, -1, 0, 1, 2] %}
            {% if total_pages - page_num == 1 %}{% set offset = -1 %}
            {% elif total_pages - page_num == 0 %}{% set offset = -2 %}
            {% elif page_num == 2 %}{% set offset = 1 %}
            {% elif page_num == 1 %}{% set offset = 2 %}
            {% else %}{% set offset = 0 %}{% endif %}


            {% for page in page_list %}
            {% set this_page = page_num|add(page)|add(offset) %}
            {% if this_page > 0 and this_page <= total_pages %}
            <a {% if this_page == page_num %}class="active"{% endif %} href="{{ content.absolute_url }}?topic={{request.query_dict.topic|urlencode}}&type={{request.query_dict.type|urlencode}}&page_num={{ this_page }}">{{ this_page }}</a>
            {% endif %}
            {% endfor %}



            {% if total_pages > page_num %}
            <a class="next page-numbers {% if page_num >= total_pages %}hide page_num{% endif %}" href="{{ content.absolute_url }}?topic={{request.query_dict.topic|urlencode}}&type={{request.query_dict.type|urlencode}}&page_num={{ page_num|add(1) }}" data-page-num="{{ page_num|add(1) }}">
              <span class="material-symbols-outlined">arrow_forward</span>
            </a>
            {% endif %}



          </div>
        </nav>



      </div>
    </div>
  </div>
</div>
</section>


<style>

  .listing-wrap{
    opacity: 0;
  }

  .loaded.listing-wrap{
    opacity: 1;
  }
</style>

{% set pagepath = module.filtered_content.page_path%}






{% require_js %}
<script>

  $(document).ready(function(){
    $('.listing-wrap').addClass('loaded');
  })


  window.addEventListener("DOMContentLoaded", function () {
    let getLIstingWrap = document.querySelector(".u4m-filtered-content .featCardsListWrap");

    setTimeout(function () {
      getLIstingWrap.classList.add("loaddedList");
    });
  });


  var filterlabeln = document.querySelectorAll(".filter_label");
  filterlabeln.forEach((label) => {
    label.addEventListener("click", (event) => {
      event.currentTarget.parentElement.classList.toggle("dropdownopen");
    });
  });


  document.querySelectorAll(".filter_label").forEach((filterLabel) => {
    filterLabel.addEventListener("click", function (e) {
      const selctArrow = this.parentElement;
      const siblings = Array.from(selctArrow.parentElement.children).filter(
        (child) => child !== selctArrow
      );
      siblings.forEach((sibling) => sibling.classList.remove("dropdownopen"));
      e.stopPropagation();
    });
  });

  document.body.addEventListener("click", function () {
    document.querySelectorAll(".selctArrow").forEach((selctArrow) => {
      selctArrow.classList.remove("dropdownopen");
    });
  });

  document.querySelectorAll(".filter_label").forEach((filterLabel) => {
    filterLabel.addEventListener("click", function () {
      const selctArrow = this.parentElement;
      const siblings = Array.from(selctArrow.parentElement.children).filter(
        (child) => child !== selctArrow
      );
      siblings.forEach((sibling) => sibling.classList.remove("dropdownopen"));
    });
  });

  document.querySelectorAll(".filter_dropdown").forEach((filterDropdown) => {
    filterDropdown.addEventListener("click", function (e) {
      e.stopPropagation();
    });
  });

  // ========================

  const wrapper = document.querySelector(".resourceList");
  const pagination = document.querySelector(".pagination");
  const items = Array.from(document.querySelectorAll(".resourceCard"));
  let filteredItems = items;
  let currPage = 1;

  var TopicSelect = document.querySelector(".topicSelect");
  var TopicSelectValueAttr = $(TopicSelect).attr("data-value");

  var TypeSelect = document.querySelector(".typeSelect");
  var TypeSelectValueAttr = $(TypeSelect).attr("data-value");

  // const searchField = document.querySelector(".resourceInput");
  // const TypeSelectLabel = document.querySelector(".type_filter_label");
  var TagSelectLabel = document.querySelector(".tag_filter_label");

  // ========================

  // let typeArrayValues = "";
  let tagArrayValues = "";

  function typeArrayUpdate(value) {
    typeArrayValues = value;
  }

  function tagArrayUpdate(value) {
    tagArrayValues = value;
  }

  function printTypeArrayUpdate() {
    return typeArrayValues;
  }

  function printTagArrayUpdate() {
    return tagArrayValues;
  }

  var params = new URLSearchParams(window.location.search);
  // var typeParam = params.get("type");
  var tagParam = params.get("tag");

  // var typeArray = typeParam?.length > 0 ? typeParam?.split(",") : [];
  var tagArray = tagParam?.length > 0 ? tagParam?.split(",") : [];

  // ========================

  //===== tag filter  ====

  $(".topic_ele").each(function (f) {
    $(this).click(function (f) {
      f.preventDefault();

      var getValue = $(this).attr("data-topic");
      var getValueLabel = $(this).attr("data-topic-label");

      //       $('.topicSelect').attr("data-value",getValueLabel);
      var getTypeSelectedValue =  $('.typeSelect').attr("data-value");


      var url = window.location.href.split("?")[0];

      if(getValueLabel != ""){
        $('.filter_label.topic_filter_label').text(getValueLabel)
      }
      else{
        $('.filter_label.topic_filter_label').text("Filter by Topic")
      }
       

      if ( getValue != "") {
        if (window.location.href.indexOf("?") > 0) {
          newUrl = url + "?topic=" + getValue + "&type=" + getTypeSelectedValue ;
        } else {
          newUrl = url + "?topic=" + getValue + "&type=" + getTypeSelectedValue ;
        }
        window.history.pushState({ path: newUrl }, "", newUrl);
        $(".listing-wrap .cardSctn").load(newUrl + " .listing-wrap .cardSctn .resourceList");
        $(".pagination").load(newUrl + " .pagination .nav-links");
        $(TopicSelect).attr("data-value", getValue);
      } else {
        window.history.pushState({ path: url }, "", url);
        $(".listing-wrap .cardSctn").load(url + " .listing-wrap .cardSctn .resourceList");
        $(".pagination").load(url + " .pagination .nav-links");
        $(TopicSelect).attr("data-value", "");
      }
    });
  });
  
  
   $(".type_ele").each(function (f) {
    $(this).click(function (f) {
      f.preventDefault();

      var getValue = $(this).attr("data-type");
      var getValueLabel = $(this).attr("data-type-label");

      //       $('.topicSelect').attr("data-value",getValueLabel);
      var getTopicSelectedValue =  $('.topicSelect').attr("data-value");


      var url = window.location.href.split("?")[0];

      if(getValueLabel != ""){
        $('.filter_label.type_filter_label').text(getValueLabel)
      }
      else{
        $('.filter_label.type_filter_label').text("Filter by Type")
      }
      

      if ( getValue != "") {
        if (window.location.href.indexOf("?") > 0) {
          newUrl = url + "?topic=" + getTopicSelectedValue + "&type=" + getValue ;
        } else {
          newUrl = url + "?topic=" + getTopicSelectedValue + "&type=" + getValue ;
        }
        window.history.pushState({ path: newUrl }, "", newUrl);
        $(".listing-wrap .cardSctn").load(newUrl + " .listing-wrap .cardSctn .resourceList");
        $(".pagination").load(newUrl + " .pagination .nav-links");
        $(TypeSelect).attr("data-value", getValue);
      } else {
        window.history.pushState({ path: url }, "", url);
        $(".listing-wrap .cardSctn").load(url + " .listing-wrap .cardSctn .resourceList");
        $(".pagination").load(url + " .pagination .nav-links");
        $(TypeSelect).attr("data-value", "");
      }
    });
  });



  //===== pagination  ====
  $(document).on("click", ".pagi_wranation .nav-links a", function (event) {
    event.preventDefault();
    const currentPageWithQuery = $(this).attr("href");
    window.history.pushState({ path: currentPageWithQuery }, "", currentPageWithQuery);
    $(".listing-wrap .cardSctn").load(currentPageWithQuery + " .listing-wrap .cardSctn .resourceList");
    $(".pagination").load(currentPageWithQuery + " .pagination .nav-links");
  });


  //===== onloadevent ====

  function loadEvents() {
    const url = window.location.href;
    const path = new URL(url).pathname;
    const parts = path.split("/resources");

    var typeText = parts.length > 1 ? parts[1].replace("/", "") : null;

    console.log('typeText', typeText);


    // Get the URL parameters
    const urlParams = new URLSearchParams(window.location.search);

    // Get the value of the "tag" parameter
    const tagValue = urlParams.get('type');

    // Check if tagValue exists and find matching data-value elements
    //    if (tagValue) {
    //        $('[data-topic]').each(function () {
    //            if ($(this).data('topic') === tagValue) {
    //                $(this).click(); // Trigger a click on the matching element
    //            }
    //        });
    //    }


    $(".type_ele").each(function() {
      var gettype = $(this).attr("data-type-url");
      if (gettype === typeText) {
        $('.filter_dropdown.typeSelect').addClass('active_tag_url_matched pageis_',+gettype)
        $(this).click();
        console.log(gettype ,'===', typeText)
      }
    });

    console.log('loadEvents loaded');
  }

  $(document).ready(function() {
    loadEvents();
  });

</script>
{% end_require_js %} 







