html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-share-page {
  margin-top: 50rem;
  margin-bottom: 100rem;
  text-align: center;
}
section.u4m-share-page.reverse-text {
  color: #fff;
}
section.u4m-share-page .heading {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
  font-family: "Montserrat";
  font-size: 24rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  margin-bottom: 30rem;
  line-height: 1.2;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  section.u4m-share-page .heading {
    font-size: 20rem;
  }
}
@media (max-width: 580px) {
  section.u4m-share-page .heading {
    font-size: 18rem;
    margin-bottom: 20rem;
  }
}
section.u4m-share-page div.content {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
  max-width: 720rem;
}
section.u4m-share-page div.content a.download-button {
  display: inline-block;
  font-family: "Montserrat";
  color: #fff;
  background-color: #733BF7;
  border: 0;
  border-radius: 4rem;
  padding: 15rem 40rem 15rem 40rem;
  margin: 20rem 0;
  transition: 0.1s ease-in;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14rem;
  line-height: 1.2;
  letter-spacing: 0.25rem;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  box-shadow: 0rem 1rem 12rem 0 rgba(51, 71, 91, 0.1);
}
section.u4m-share-page div.content a.download-button:hover, section.u4m-share-page div.content a.download-button:focus {
  background-color: #33475b;
  color: #fff;
}
section.u4m-share-page div.content div.share span {
  padding-right: 10rem;
}
section.u4m-share-page div.content div.share a {
  font-size: 32rem;
}