{% import "../../macros/_macros.html" as macros %} 
<section class="u4m-blog-listing dnd_padd">
<div class="page-center">
	<div class="topSec">
		<div class="flex_row">
			<div class="intro_wrapp">
				{{macros.introGroup(module.intro_content)}}
			</div>
			<div class="featCardsOuter"> 
				<div class="featCards cardItems">  
					{% set tag_posts = blog_recent_tag_posts(group.id, 'Featured', 1) %}
					{% for row in tag_posts %}
					<div class="cmCol3 cardItem">
						<div class="itemInr {{ module.module_settings.select_card_theme }} {% if module.module_settings.reverse_text %}cardColor{% endif %}">
							{% if row.featured_image %}
							<div class="itemImg">
								<div class="itemImgin" style="background-image:url({{ row.featured_image }})">	<a class="absltLink" href="{{ row.absolute_url }}"></a></div>
							</div>
							{% endif %}
							<div class="itemCnWrap">
								<div class="itemCntSec">
								{% if row.topic_list %}
									<div class="itemTags">
										{% set included_topics = row.topic_list | rejectattr("slug", "equalto", "featured") | list %}
										{% for topic in included_topics %}
											{% if loop.first %}
										<a class="{{ topic.slug }}" href="{{ blog_tag_url(group.id, topic.slug) }}">{{ topic.name }}</a>
									{% endif %}
										{% endfor %}
									</div>
									{% endif %}
									<div class="itemTitle ">
										<h4 >
											<a  href="{{ row.absolute_url }}">
												{{ row.name }}
											</a>
										</h4>
									</div>  
									<div class="itemDescription">{{ row.post_list_content|safe|truncatehtml(85, '.' , false) }}</div>  
								</div>
								<div class="intro_btn_wrap">
									<div class="btn_item">
										<a class="arrow-link " href="{{ row.absolute_url }}">
											<span>Read More</span>
											<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M6.83814 5.62106C7.05396 5.83037 7.05396 6.16965 6.83814 6.37896L1.2039 11.843C0.988082 12.0523 0.638231 12.0523 0.422411 11.843L0.161865 11.5904C-0.053955 11.3811 -0.053955 11.0417 0.161865 10.8324L5.14481 6.00001L0.161865 1.16755C-0.0539548 0.958242 -0.0539548 0.618957 0.161865 0.409655L0.422411 0.156977C0.638231 -0.0523252 0.988082 -0.0523252 1.2039 0.156977L6.83814 5.62106Z" fill="#007C43"></path>
											</svg>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div> 
			</div>
		</div>
	</div>
	<div class="featCardsListWrap">
		<div class="filterWrap">
			<div class="filters">
				<div class="flex_row"> 
					{% set my_topics = blog_topics(group.id, 10) %}
						{% set included_topics = my_topics | rejectattr("slug", "equalto", "featured") | list %}
					<div class="col selctArrow">  
						<select id="tinynav1" class="tinynav tinynav1" style="background-image: url({{ get_asset_url('../../templates/images/selectArrow.png') }});">
							<option value="{{ group.absolute_url }}">Select Topic...</option>
							{% for item in included_topics %}
							<option value="{{ blog_tag_url(group.id, item.slug) }}" {% if content.absolute_url == blog_tag_url(group.id, item.slug) %} selected{% endif %}>{{ item }}</option>
							{% endfor %}
						</select>
					</div>  
				</div> 
			</div>	
		</div>
		<div class="cardSctn">
			<div class="flex_row cardItems">
				{% for content in contents %}
				<div class="cmCol3 cardItem">
					<div class="itemInr {{ module.module_settings.select_card_theme }} {% if module.module_settings.reverse_text %}cardColor{% endif %}">
						{% if module.blog_listings.featured_image %}
						{% if content.featured_image %}
						<div class="itemImg">
							<div class="itemImgin" style="background-image:url({{ content.featured_image }})">	<a class="absltLink" href="{{ content.absolute_url }}"></a></div>
						</div>
						{% endif %}
						{% endif %}
						<div class="itemCnWrap">
							<div class="itemCntSec">
								{% if module.blog_listings.tags %}
								{% if content.topic_list %}
								<div class="itemTags">
									{% set included_topics = content.topic_list | rejectattr("slug", "equalto", "featured") | list %}
									{% for topic in included_topics %}
									<a class="{{ topic.slug }}" href="{{ blog_tag_url(group.id, topic.slug) }}">{{ topic.name }}</a>{% if not loop.last %}<span class="dots"></span>{% endif %}
									{% endfor %}
								</div>
								{% endif %}
								{% endif %}
								{% if module.blog_listings.minute_read || module.blog_listings.date %}
								<div class="itemMeta">
									{% if module.blog_listings.minute_read %}
									<span class="reading-minutes">
										{% set initialPostWords = content.post_body|striptags|wordcount %}
										{% set calculatedPostWords = (initialPostWords/100) * 100 %}
										{% set finishedPostWords = calculatedPostWords|divide(300)|round(2) %}
										{% set number = finishedPostWords|round %}
										{% if number < 1 %}
										{% else %}
										{{ finishedPostWords|round }} minute read
										{% endif %}
									</span>
									{% endif %}
									{% if module.blog_listings.date %} | <span class="itemDate">{{ content.publish_date_local_time.strftime('%B %e, %Y') }}</span>{% endif %}
								</div>
								{% endif %}
								{% if module.blog_listings.post_title %}
								<div class="itemTitle">
									<h4>
										<a  href="{{ content.absolute_url }}">
											{{ content.name }}
										</a>
									</h4>
								</div>  
								{% endif %}
							</div>
							{% if module.module_settings.read_more %}
							<div class="intro_btn_wrap">
								<div class="btn_item">
									<a class="arrow-link " href="{{ content.absolute_url }}">
										<span>{{ module.module_settings.read_more }}</span>
										<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M6.83814 5.62106C7.05396 5.83037 7.05396 6.16965 6.83814 6.37896L1.2039 11.843C0.988082 12.0523 0.638231 12.0523 0.422411 11.843L0.161865 11.5904C-0.053955 11.3811 -0.053955 11.0417 0.161865 10.8324L5.14481 6.00001L0.161865 1.16755C-0.0539548 0.958242 -0.0539548 0.618957 0.161865 0.409655L0.422411 0.156977C0.638231 -0.0523252 0.988082 -0.0523252 1.2039 0.156977L6.83814 5.62106Z" fill="#007C43"></path>
										</svg>
									</a>
								</div>
							</div>
							{% endif %}
						</div>

					</div>
				</div>
				{% endfor %} 
			</div> 
		</div>   
		{% if not simple_list_page %}
		<div class="blog-pagination">
			<div class="items pages-items" aria-labelledby="paging-label">
				{% set page_list = [-2, -1, 0, 1, 2] %}
				{% if contents.total_page_count - current_page_num == 1 %}{% set offset = -1 %}
				{% elif contents.total_page_count - current_page_num == 0 %}{% set offset = -2 %}
				{% elif current_page_num == 2 %}{% set offset = 1 %}
				{% elif current_page_num == 1 %}{% set offset = 2 %}
				{% else %}{% set offset = 0 %}{% endif %}
				<a class="prevnext" href="{{ blog_page_link(last_page_num) }}"><span class="material-symbols-outlined">arrow_back</span></a>
				{% for page in page_list %}
				{% set this_page = current_page_num + page + offset %}
				{% if this_page > 0 and this_page <= contents.total_page_count %}
				<a class="{% if this_page == current_page_num %}active{% endif %}" href="{{ blog_page_link(this_page) }}">{{ this_page }}</a>
				{% endif %}
				{% endfor %}
				<a class="prevnext" href="{{ blog_page_link(current_page_num + 1) }}"><span class="material-symbols-outlined">arrow_forward</span></a>
			</div>
		</div>
		{% endif %}
	</div>
</div>
</section>












