html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-features-table {
  margin-top: 100rem;
}
section.u4m-features-table.reverse-text .header .intro,
section.u4m-features-table.reverse-text .header .version {
  color: #ffffff;
}
section.u4m-features-table.narrow div.header,
section.u4m-features-table.narrow div.section {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
  max-width: 1000rem;
}
section.u4m-features-table div.header {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10rem;
}
section.u4m-features-table div.header .intro {
  flex: 0 0 50%;
}
section.u4m-features-table div.header .intro .title {
  font-family: "Inter";
  font-size: 40rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
  margin-bottom: 20rem;
}
@media (max-width: 1024px) {
  section.u4m-features-table div.header .intro .title {
    font-size: 28rem;
  }
}
@media (max-width: 580px) {
  section.u4m-features-table div.header .intro .title {
    font-size: 25rem;
    margin-bottom: 20rem;
  }
}
@media (max-width: 580px) {
  section.u4m-features-table div.header .intro .title {
    font-family: "Inter";
    font-size: 19rem;
    font-weight: 600;
    margin-bottom: 30rem;
    line-height: 1;
  }
}
@media (max-width: 580px) and (max-width: 1024px) {
  section.u4m-features-table div.header .intro .title {
    font-size: 19rem;
  }
}
@media (max-width: 580px) and (max-width: 580px) {
  section.u4m-features-table div.header .intro .title {
    font-size: 19rem;
    margin-bottom: 20rem;
  }
}
section.u4m-features-table div.header .intro p {
  padding-bottom: 20rem;
}
section.u4m-features-table div.header span.version {
  flex: 0 0 25%;
  text-align: center;
  padding-top: 20rem;
  font-weight: bold;
}
@media (max-width: 580px) {
  section.u4m-features-table div.header span.version {
    font-family: "Inter";
    font-size: 12rem;
    line-height: 1.6;
    letter-spacing: 0.35rem;
    margin-bottom: 10rem;
  }
}
@media (max-width: 580px) and (max-width: 580px) {
  section.u4m-features-table div.header span.version {
    font-size: 12rem;
  }
}
section.u4m-features-table div.section {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
}
section.u4m-features-table div.section .title {
  font-family: "Inter";
  font-size: 16rem;
  line-height: 1.6;
  letter-spacing: 0.25rem;
  margin-bottom: 20rem;
  background-color: #EEEEEE;
  margin: 0;
  padding: 8rem 15rem;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 580px) {
  section.u4m-features-table div.section .title {
    font-size: 15rem;
  }
}
@media (max-width: 580px) {
  section.u4m-features-table div.section .title {
    font-family: "Inter";
    font-size: 12rem;
    line-height: 1.6;
    letter-spacing: 0.35rem;
    margin-bottom: 10rem;
  }
}
@media (max-width: 580px) and (max-width: 580px) {
  section.u4m-features-table div.section .title {
    font-size: 12rem;
  }
}
section.u4m-features-table div.section div.item {
  display: flex;
  flex-wrap: nowrap;
  background-color: #ffffff;
}
section.u4m-features-table div.section div.item div.item-name {
  margin: 0;
  padding: 5rem 15rem;
  flex: 0 1 50%;
  font-size: 14rem;
}
@media (max-width: 580px) {
  section.u4m-features-table div.section div.item div.item-name {
    font-family: "Inter";
    font-size: 12rem;
    line-height: 1.6;
    letter-spacing: 0.35rem;
    margin-bottom: 10rem;
    margin-bottom: 0;
  }
}
@media (max-width: 580px) and (max-width: 580px) {
  section.u4m-features-table div.section div.item div.item-name {
    font-size: 12rem;
  }
}
section.u4m-features-table div.section div.item div.second-box,
section.u4m-features-table div.section div.item div.third-box {
  flex: 0 0 25%;
  margin: 0;
  padding: 5rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 580px) {
  section.u4m-features-table div.section div.item div.second-box,
  section.u4m-features-table div.section div.item div.third-box {
    font-family: "Inter";
    font-size: 12rem;
    line-height: 1.6;
    letter-spacing: 0.35rem;
    margin-bottom: 10rem;
    margin-bottom: 0;
  }
}
@media (max-width: 580px) and (max-width: 580px) {
  section.u4m-features-table div.section div.item div.second-box,
  section.u4m-features-table div.section div.item div.third-box {
    font-size: 12rem;
  }
}
section.u4m-features-table div.section div.item:nth-of-type(odd) {
  background-color: #DBDBDB;
}