html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

.u4m-simple-tabs {
  padding: 100px 20px;
}
.u4m-simple-tabs .intro {
  text-align: center;
  margin: 0 auto 30px;
}
.u4m-simple-tabs .intro p {
  max-width: 768px;
  margin: 0 auto 10px;
}
.u4m-simple-tabs .intro .primary-secondary-links {
  display: flex;
  justify-content: center;
}
.u4m-simple-tabs .intro .primary-secondary-links .primary {
  margin-right: 20rem;
}
.u4m-simple-tabs .intro .primary-secondary-links .primary a {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007C43;
  border: 1px solid #007C43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 20rem 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
.u4m-simple-tabs .intro .primary-secondary-links .primary a:hover, .u4m-simple-tabs .intro .primary-secondary-links .primary a:focus {
  background-color: #ffffff;
  color: #007C43;
}
.u4m-simple-tabs .intro .primary-secondary-links .secondary a {
  font-weight: bold;
  margin: 20rem 0;
  cursor: pointer;
}
.u4m-simple-tabs .intro .primary-secondary-links .secondary a:after {
  display: inline-block;
  margin-left: 5rem;
  width: 9rem;
  height: 7rem;
}
.u4m-simple-tabs .intro .primary-secondary-links .secondary a:hover, .u4m-simple-tabs .intro .primary-secondary-links .secondary a:focus {
  color: #000000;
}
@media (max-width: 580px) {
  .u4m-simple-tabs .intro .primary-secondary-links {
    flex-direction: column;
  }
  .u4m-simple-tabs .intro .primary-secondary-links .primary {
    margin-right: 0;
  }
}
.u4m-simple-tabs .tabs-module-wrap {
  max-width: 1024px;
  margin: 0 auto;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module {
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation {
  flex: 0 0 35%;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul {
  margin: 0 50px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab {
  margin: 0;
  cursor: pointer;
  transition: background-color 0.2s;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab .tab-click {
  padding: 20px;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab .tab-click .tab-title {
  margin: 0;
  transition: transform 0.2s;
}
@media (max-width: 767px) {
  .u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab .tab-click .tab-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab .tab-click .tab-title:after {
    content: "+";
    font-size: 20px;
    font-weight: bold;
  }
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab .tab-click .tab-subtext {
  display: none;
  opacity: 0;
  transition: opacity 0.1s;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab .tab-link {
  display: none;
  opacity: 0;
  transition: opacity 0.1s;
  padding: 0 20px 20px;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab .tab-link a {
  font-weight: bold;
  margin: 20rem 0;
  cursor: pointer;
  margin: 0;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab .tab-link a:after {
  display: inline-block;
  margin-left: 5rem;
  width: 9rem;
  height: 7rem;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab .tab-link a:hover, .u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab .tab-link a:focus {
  color: #000000;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab .tab-mobile-content {
  display: none;
  padding: 0 20px 20px;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab:not(.active):hover {
  background-color: rgba(219, 219, 219, 0.5);
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab:not(.active):hover .tab-title,
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab:not(.active):hover .tab-subext {
  transform: translateX(2px);
}
@media (max-width: 767px) {
  .u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab:not(.active):hover .tab-title,
  .u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab:not(.active):hover .tab-subext {
    transform: none;
  }
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab.active {
  background-color: #DBDBDB;
  cursor: default;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab.active .tab-link,
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab.active .tab-subtext {
  display: block;
  opacity: 1;
}
@media (max-width: 767px) {
  .u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab.active .tab-mobile-content {
    display: block;
  }
  .u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab.active .tab-click {
    padding-bottom: 0;
  }
  .u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab.active .tab-click .tab-title:after {
    content: "-";
  }
  .u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul li.tab.active .tab-click .tab-subtext {
    margin: 0 0 20px;
  }
}
@media (max-width: 767px) {
  .u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-navigation ul {
    margin: 0;
    padding: 0;
  }
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-content {
  flex: 1 1 auto;
  position: relative;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-content .tab-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-content .tab-content .tab-content-inner {
  transform: translateY(20px);
  opacity: 0;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-content .tab-content.active {
  display: flex;
  position: relative;
  z-index: 1;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-content .tab-content.active .tab-content-inner {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s;
}
@media (max-width: 767px) {
  .u4m-simple-tabs .tabs-module-wrap .tabs-module .tabs-content {
    display: none;
  }
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module[data-navigation-position=top] {
  flex-direction: column;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module[data-navigation-position=top] .tabs-navigation ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 0 50px;
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module[data-navigation-position=top] .tabs-navigation ul li:hover .tab-title,
.u4m-simple-tabs .tabs-module-wrap .tabs-module[data-navigation-position=top] .tabs-navigation ul li:hover .tab-subext {
  transform: translateY(-2px);
}
@media (max-width: 767px) {
  .u4m-simple-tabs .tabs-module-wrap .tabs-module[data-navigation-position=top] .tabs-navigation ul li:hover .tab-title,
  .u4m-simple-tabs .tabs-module-wrap .tabs-module[data-navigation-position=top] .tabs-navigation ul li:hover .tab-subext {
    transform: none;
  }
}
@media (max-width: 767px) {
  .u4m-simple-tabs .tabs-module-wrap .tabs-module[data-navigation-position=top] .tabs-navigation ul {
    flex-direction: column;
    margin: 0;
  }
}
.u4m-simple-tabs .tabs-module-wrap .tabs-module[data-navigation-position=right] .tabs-navigation {
  order: 2;
}
@media (max-width: 767px) {
  .u4m-simple-tabs .tabs-module-wrap .tabs-module {
    flex-direction: column;
  }
}