@import "../../css/_module-imports";
.u4m-animated-stats {
  &.reverse-text {
    color: $white;
  }
  .statistics-items {
    margin-left: -10px;
    margin-right: -10px;
    row-gap: 20px;
    .animated-stats-item {
      padding-left: 10px;
      padding-right: 10px;
      @include tabletmid {
        width: 50%;
      }
      @include tabletvert {
        width: 100%;
      }
      .stats-item {
        position: relative;
        padding: 36px 24px;
        border-radius: 12px;
        overflow: hidden;
        .stats-item-inn {
          position: relative;
          z-index: 9;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          row-gap: 20px;
          text-align: center;
          .number {
            @include h2;
            margin-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 2px;
            .prefix,
            .suffix {
              @include h6;
              margin-bottom: 0;
            }
          }
          .caption {
            @include h6;
            margin-bottom: 0;
            font-weight: 500;
          }
        }
      }
    }
  }
}
