html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-animated-stats {
  margin-top: 100rem;
  margin-bottom: 100rem;
}
section.u4m-animated-stats.reverse-text {
  color: #ffffff;
}
section.u4m-animated-stats .heading {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
  font-family: "Inter";
  font-size: 40rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
  text-align: center;
}
@media (max-width: 1024px) {
  section.u4m-animated-stats .heading {
    font-size: 28rem;
  }
}
@media (max-width: 580px) {
  section.u4m-animated-stats .heading {
    font-size: 25rem;
    margin-bottom: 20rem;
  }
}
section.u4m-animated-stats .intro {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
}
section.u4m-animated-stats div.statistics {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
section.u4m-animated-stats div.statistics.items-four div.statistics__item {
  flex-basis: calc(25% - 40rem);
}
@media (max-width: 1024px) {
  section.u4m-animated-stats div.statistics.items-four div.statistics__item {
    flex-basis: calc(50% - 40rem);
  }
}
@media (max-width: 580px) {
  section.u4m-animated-stats div.statistics.items-four div.statistics__item {
    flex: 0 0 100%;
  }
}
section.u4m-animated-stats div.statistics div.statistics__item {
  text-align: center;
  margin: 20rem;
  flex-basis: calc(33.333% - 40rem);
  flex-grow: 0;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  section.u4m-animated-stats div.statistics div.statistics__item {
    flex-basis: calc(50% - 40rem);
  }
}
@media (max-width: 580px) {
  section.u4m-animated-stats div.statistics div.statistics__item {
    flex: 0 0 100%;
  }
}
section.u4m-animated-stats div.statistics div.statistics__item .image {
  min-height: 70rem;
}
section.u4m-animated-stats div.statistics div.statistics__item .image img {
  max-width: 80rem;
  text-align: center;
  margin: 0 auto;
  display: block;
}
section.u4m-animated-stats div.statistics div.statistics__item .count,
section.u4m-animated-stats div.statistics div.statistics__item .number {
  font-size: 50rem;
  font-weight: bold;
}
section.u4m-animated-stats div.statistics div.statistics__item .currency {
  padding-right: 5rem;
  font-size: 50rem;
  font-weight: bold;
}
section.u4m-animated-stats div.statistics div.statistics__item .unit {
  padding-left: 5rem;
  font-size: 50rem;
  font-weight: bold;
}
section.u4m-animated-stats div.statistics div.statistics__item .caption {
  display: block;
  font-weight: bold;
}