html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-slider-logo-nav {
  margin: 100rem 0;
  position: relative;
}
section.u4m-slider-logo-nav.reverse-text {
  color: #ffffff;
}
section.u4m-slider-logo-nav.reverse-text div.content div.quotes div.slide p.quote,
section.u4m-slider-logo-nav.reverse-text div.content div.quotes div.slide p.title {
  color: #ffffff;
}
section.u4m-slider-logo-nav .heading {
  font-family: "Inter";
  font-size: 40rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
  text-align: center;
}
@media (max-width: 1024px) {
  section.u4m-slider-logo-nav .heading {
    font-size: 28rem;
  }
}
@media (max-width: 580px) {
  section.u4m-slider-logo-nav .heading {
    font-size: 25rem;
    margin-bottom: 20rem;
  }
}
section.u4m-slider-logo-nav div.content {
  max-width: 1060rem;
  margin: 0 auto;
  float: none;
}
section.u4m-slider-logo-nav div.content div.logos {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  z-index: 4;
  padding: 0;
}
section.u4m-slider-logo-nav div.content div.logos a.slider-nav-item .box {
  margin: 10rem;
}
section.u4m-slider-logo-nav div.content div.logos a.slider-nav-item .box img.slider-nav-image {
  opacity: 0.1;
  transition: 0.3s ease;
  max-width: 100rem;
  height: auto;
  cursor: pointer;
}
@media (max-width: 580px) {
  section.u4m-slider-logo-nav div.content div.logos a.slider-nav-item .box img.slider-nav-image {
    max-width: 40rem;
    max-height: 80rem;
  }
}
section.u4m-slider-logo-nav div.content div.logos a.slider-nav-item .box:hover img.slider-nav-image {
  opacity: 0.5;
}
section.u4m-slider-logo-nav div.content div.logos a.slider-nav-item.active .box img.slider-nav-image {
  opacity: 1;
}
section.u4m-slider-logo-nav div.content div.logos a.slider-nav-item.active .box img.slider-nav-image:hover {
  opacity: 1;
}
section.u4m-slider-logo-nav div.content div.quotes {
  position: relative;
  overflow: hidden;
  text-align: center;
}
section.u4m-slider-logo-nav div.content div.quotes div.slide {
  width: 100%;
  transition: 0.3s ease;
  opacity: 0;
  z-index: 1;
  margin: 10rem auto 30rem;
  text-align: center;
  position: absolute;
  top: 0;
}
section.u4m-slider-logo-nav div.content div.quotes div.slide p.quote {
  font-family: "Inter";
  font-size: 22rem;
  line-height: 1.4;
  letter-spacing: 0.25rem;
  margin-bottom: 20rem;
  color: #eeeeee;
  margin: 0 auto 30rem;
  width: 100%;
}
@media (max-width: 580px) {
  section.u4m-slider-logo-nav div.content div.quotes div.slide p.quote {
    font-size: 17rem;
  }
}
section.u4m-slider-logo-nav div.content div.quotes div.slide p.author {
  text-transform: uppercase;
  color: #00a4bd;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5rem;
  letter-spacing: 0.075em;
}
section.u4m-slider-logo-nav div.content div.quotes div.slide p.title {
  color: #6e757c;
  margin: 0 auto 20rem auto;
}
section.u4m-slider-logo-nav div.content div.quotes div.slide.active {
  opacity: 1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.u4m-slider-logo-nav div.content div.quotes div.slide.exit {
  z-index: 1;
  transform: translateY(-10rem);
  transition: 0.3s ease;
  opacity: 0;
}/*# sourceMappingURL=module.css.map */