html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer-social ul li {
  margin: 0;
  margin-right: 10px;
}
.footer-social ul li svg {
  vertical-align: middle;
  width: 23px;
  height: 23px;
  color: #006f3c;
  fill: #006f3c;
}