@import "../../css/module-imports";

.u4m-anchor-nav-bar {
  &.reverse-text {
    .btns_nav_inr {
      a.cm_btn {
        color: $white;
      }
    }
  }
  .btns_nav_inr {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
    text-align: center;
    a.cm_btn {
      text-decoration: none;
      color: $heading;
      position: relative;
      z-index: 99;
      transition: $animation1;
      @include tabletmid {
        @include size14;
      }
      &:hover {
        color: $action1;
      }
    }
    a.cm_btn.active {
      // border-bottom: 2px solid;
      // border-color: $heading;
      // text-shadow: 1px 0 0 currentColor;
      color: $action1;
    }
  }
  transition: all 0.3s ease;
}
.u4m-anchor-nav-bar.fixed {
  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
  top: 128px;
  z-index: 1000;
  @include navbreak {
    top: 124px;
  }
  @include tabletmid {
    position: unset;
  }
}
