html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-cards-side {
  margin-top: 100rem;
  margin-bottom: 100rem;
}
section.u4m-cards-side.reverse-text h2.heading,
section.u4m-cards-side.reverse-text h3.subheading {
  color: #ffffff;
}
section.u4m-cards-side .outer-wrap {
  display: flex;
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
  justify-content: center;
  align-items: center;
}
section.u4m-cards-side .outer-wrap .left {
  padding-left: 20rem;
  padding-right: 50rem;
  flex: 0 0 40%;
}
section.u4m-cards-side .outer-wrap .left .eyebrow {
  font-family: "Inter";
  font-size: 14rem;
  font-weight: 500;
  line-height: 1;
  display: block;
  margin-bottom: 10rem;
}
section.u4m-cards-side .outer-wrap .left .heading {
  font-family: "Inter";
  font-size: 40rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
  margin-top: 0;
}
@media (max-width: 1024px) {
  section.u4m-cards-side .outer-wrap .left .heading {
    font-size: 28rem;
  }
}
@media (max-width: 580px) {
  section.u4m-cards-side .outer-wrap .left .heading {
    font-size: 25rem;
    margin-bottom: 20rem;
  }
}
section.u4m-cards-side .outer-wrap .left .subheading {
  font-family: "Inter";
  font-size: 18rem;
  line-height: 1.3;
  margin-bottom: 20rem;
  font-weight: normal;
}
@media (max-width: 580px) {
  section.u4m-cards-side .outer-wrap .left .subheading {
    font-size: 16rem;
  }
}
section.u4m-cards-side .outer-wrap .left .link {
  text-align: center;
}
section.u4m-cards-side .outer-wrap .left .link a {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007c43;
  border: 1px solid #007c43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
section.u4m-cards-side .outer-wrap .left .link a:hover, section.u4m-cards-side .outer-wrap .left .link a:focus {
  background-color: #ffffff;
  color: #007c43;
}
@media (max-width: 580px) {
  section.u4m-cards-side .outer-wrap .left {
    padding: 0;
  }
}
section.u4m-cards-side .outer-wrap .right .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 580px) {
  section.u4m-cards-side .outer-wrap .right .wrapper {
    display: block;
  }
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card {
  margin: 20rem;
  padding: 20rem;
  box-shadow: 0rem 1rem 12rem 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  flex-basis: calc(33.333% - 40rem);
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 10rem;
  flex: 1 0 100%;
}
@media (max-width: 1024px) {
  section.u4m-cards-side .outer-wrap .right .wrapper div.card {
    flex-basis: calc(50% - 40rem);
  }
}
@media (max-width: 580px) {
  section.u4m-cards-side .outer-wrap .right .wrapper div.card {
    width: 100%;
    margin-bottom: 50rem;
  }
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card button {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007c43;
  border: 1px solid #007c43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 10rem 20rem;
  font-size: 12rem;
  line-height: 1.2;
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card button:hover, section.u4m-cards-side .outer-wrap .right .wrapper div.card button:focus {
  background-color: #ffffff;
  color: #007c43;
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card .image {
  min-height: 100rem;
  display: flex;
  align-items: center;
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card .image.filled {
  width: 100%;
  min-height: 203rem;
  border-bottom: 1rem solid #dbdbdb;
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card .image.filled img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card .image a {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  box-shadow: none;
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card .image a:hover {
  background-color: transparent;
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card .image img {
  display: block;
  margin: 30rem auto 0 auto;
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card .image img.left {
  margin: 30rem auto 0 30rem;
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card .content {
  padding: 20rem 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
@media (max-width: 767px) {
  section.u4m-cards-side .outer-wrap .right .wrapper div.card .content {
    padding: 20rem;
  }
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card .content span.url {
  display: flex;
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card .content span.eyebrow {
  font-family: "Inter";
  font-size: 13rem;
  line-height: 1.3;
  margin-bottom: 20rem;
  color: #eeeeee;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media (max-width: 580px) {
  section.u4m-cards-side .outer-wrap .right .wrapper div.card .content span.eyebrow {
    font-size: 13rem;
  }
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card .content span.title {
  font-family: "Inter";
  font-size: 19rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
  display: block;
  color: #000000;
  margin-top: 5rem;
  margin-bottom: 15rem;
}
@media (max-width: 1024px) {
  section.u4m-cards-side .outer-wrap .right .wrapper div.card .content span.title {
    font-size: 19rem;
  }
}
@media (max-width: 580px) {
  section.u4m-cards-side .outer-wrap .right .wrapper div.card .content span.title {
    font-size: 19rem;
    margin-bottom: 20rem;
  }
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card .content span.teaser {
  font-family: "Inter";
  font-size: 13rem;
  line-height: 1.3;
  margin-bottom: 20rem;
  color: #000000;
  display: block;
  margin-bottom: 0;
}
@media (max-width: 580px) {
  section.u4m-cards-side .outer-wrap .right .wrapper div.card .content span.teaser {
    font-size: 13rem;
  }
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card .content span.cta,
section.u4m-cards-side .outer-wrap .right .wrapper div.card .content span.url {
  margin-top: auto;
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card .content span.cta a,
section.u4m-cards-side .outer-wrap .right .wrapper div.card .content span.url a {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007c43;
  border: 1px solid #007c43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 10rem 20rem;
  font-size: 12rem;
  line-height: 1.2;
}
section.u4m-cards-side .outer-wrap .right .wrapper div.card .content span.cta a:hover, section.u4m-cards-side .outer-wrap .right .wrapper div.card .content span.cta a:focus,
section.u4m-cards-side .outer-wrap .right .wrapper div.card .content span.url a:hover,
section.u4m-cards-side .outer-wrap .right .wrapper div.card .content span.url a:focus {
  background-color: #ffffff;
  color: #007c43;
}
section.u4m-cards-side .outer-wrap .right .wrapper.two div.card {
  flex-basis: calc(50% - 40rem);
}
section.u4m-cards-side .outer-wrap .right .wrapper.three div.card {
  flex-basis: calc(33.333% - 40rem);
}
@media (max-width: 1024px) {
  section.u4m-cards-side .outer-wrap .right .wrapper.three div.card {
    flex-basis: calc(50% - 40rem);
  }
}
section.u4m-cards-side .outer-wrap .right .wrapper.four div.card {
  flex-basis: calc(25% - 40rem);
}
@media (max-width: 1024px) {
  section.u4m-cards-side .outer-wrap .right .wrapper.four div.card {
    flex-basis: calc(50% - 40rem);
  }
}
@media (max-width: 767px) {
  section.u4m-cards-side .outer-wrap {
    display: block;
  }
}