<!--
 templateType: page
 isAvailableForNewContent: false
-->  


{% macro buttonGroup(items)%}
	{% if items %}
	<div class="intro_btn_wrap">
		{% for item in items %}
		<div class="btn_item">
			{% if item.button_type == "std" %}
			{% set href = item.link.url.href %}
			{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
			{% set href = "mailto:" + href %}
			{% endif %}
			<a class="{{ item.button_style ? item.button_style : "hs-button" }} "
				 {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
				 href="{{ href }}" 
				 {% else %}
				 href="{{ href }}"
				 {% endif %}
				 {% if item.link.open_in_new_tab %}
				 target="_blank"
				 {% endif %}
				 {% if item.link.rel %}
				 rel="{{ item.link.rel }}"
				 {% endif %}>
				<span>{{ item.button_text }}</span>
				{% if item.button_style=="arrow-link" or  (item.button_type == "std" and item.include_arrow_icon) %}
				<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.83814 5.62106C7.05396 5.83037 7.05396 6.16965 6.83814 6.37896L1.2039 11.843C0.988082 12.0523 0.638231 12.0523 0.422411 11.843L0.161865 11.5904C-0.053955 11.3811 -0.053955 11.0417 0.161865 10.8324L5.14481 6.00001L0.161865 1.16755C-0.0539548 0.958242 -0.0539548 0.618957 0.161865 0.409655L0.422411 0.156977C0.638231 -0.0523252 0.988082 -0.0523252 1.2039 0.156977L6.83814 5.62106Z" fill="#007C43"/>
				</svg>
				{% endif %}
			</a>
			{% endif %}
			{% if item.button_type == "cta" %}
			{% cta guid="{{ item.cta }}" %}
			{% endif %}
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% endmacro%}
	
	<!-- Single Button -->
	{% macro singleButtonGroup(items) %}
	{% if items %}
	{% for item in items %}
	<div class="intro_btn_wrap">
		<div class="btn_item">
			{% if item.button_type == "std" %}
			{% set href = item.link.url.href %}
			{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
			{% set href = "mailto:" + href %}
			{% endif %}
			<a class="{{ item.button_style ? item.button_style : "hs-button" }} "
				 {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
				 href="{{ href }}" 
				 {% else %}
				 href="{{ href }}"
				 {% endif %}
				 {% if item.link.open_in_new_tab %}
				 target="_blank"
				 {% endif %}
				 {% if item.link.rel %}
				 rel="{{ item.link.rel }}"
				 {% endif %}>
				<span>{{ item.button_text }}</span>
				{% if item.button_style=="arrow-link" %}
				<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.83814 5.62106C7.05396 5.83037 7.05396 6.16965 6.83814 6.37896L1.2039 11.843C0.988082 12.0523 0.638231 12.0523 0.422411 11.843L0.161865 11.5904C-0.053955 11.3811 -0.053955 11.0417 0.161865 10.8324L5.14481 6.00001L0.161865 1.16755C-0.0539548 0.958242 -0.0539548 0.618957 0.161865 0.409655L0.422411 0.156977C0.638231 -0.0523252 0.988082 -0.0523252 1.2039 0.156977L6.83814 5.62106Z" fill="#007C43"/>
				</svg>
				{% endif %}
			</a>
			{% endif %}
			{% if item.button_type == "cta" %}
			{% cta guid="{{ item.cta }}" %}
			{% endif %}
		</div>
	</div>
	{% endfor %}
	{% endif %}
	{% endmacro%}
	
	
	{% macro singleButton(item) %}
	{% if item %}
	<div class="intro_btn_wrap">
		<div class="btn_item">
			{% if item.button_type == "std" %}
			{% set href = item.link.url.href %}
			{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
			{% set href = "mailto:" + href %}
			{% endif %}
			<a class="{{ item.button_style ? item.button_style : "hs-button" }} "
				 {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
				 href="{{ href }}" 
				 {% else %}
				 href="{{ href }}"
				 {% endif %}
				 {% if item.link.open_in_new_tab %}
				 target="_blank"
				 {% endif %}
				 {% if item.link.rel %}
				 rel="{{ item.link.rel }}"
				 {% endif %}>
				<span>{{ item.button_text }}</span>
				{% if item.button_style=="arrow-link" %}
				<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.83814 5.62106C7.05396 5.83037 7.05396 6.16965 6.83814 6.37896L1.2039 11.843C0.988082 12.0523 0.638231 12.0523 0.422411 11.843L0.161865 11.5904C-0.053955 11.3811 -0.053955 11.0417 0.161865 10.8324L5.14481 6.00001L0.161865 1.16755C-0.0539548 0.958242 -0.0539548 0.618957 0.161865 0.409655L0.422411 0.156977C0.638231 -0.0523252 0.988082 -0.0523252 1.2039 0.156977L6.83814 5.62106Z" fill="#007C43"/>
				</svg>
				{% endif %}
			</a>
			{% endif %}
			{% if item.button_type == "cta" %}
			{% cta guid="{{ item.cta }}" %}
			{% endif %}
		</div>
	</div>
	{% endif %}
	{% endmacro%}
	
	
	{% macro introGroup(group)%}
	{% if group.include_eyebrow_text or group.include_heading or group.include_content or  group.include_button%}
	<div class="intro_content">
	
		<div class="intro__inner">
			{% if group.include_eyebrow_text %}
			<div class="eyebrow_text">
				{{ group.eyebrow_text }}
			</div>
			{% endif %}
	
	
	
			{% if group.include_heading %}
			<{{group.heading_size}} class="intro_title">{{ group.heading }}</{{group.heading_size}}>
				{% endif %}
	
	
	
	
				{% if group.include_content %}
				<div class="intro_desc {{ group.content_style }}">
			{{ group.content }}
		</div>
		{% endif %}
	
		{#===#}
	
		{% if group.include_button %}
		{{buttonGroup(group.button_group)}}
		{% endif %}
	
		{#===#}
	
	</div>
	</div>
	{% endif %}
	{% endmacro%}
	
	
	
	<!-- Hubdb cards -->
	
	
	{% macro hubDBcards(row,moduleSetting) %}
	{% if row %}
	<div class="cmCol3 cardItem">
		<div class="itemInr {{ moduleSetting.select_card_theme }} {% if moduleSetting.reverse_text %}cardColor{% endif %}">
			{% if row.image.url %}
			<div class="itemImg">
				<div class="itemImgin" style="background-image:url({{ row.image.url }})">	<a class="absltLink" href="{{ row.link }}"></a></div>
			</div>
			{% endif %}
			<div class="itemCnWrap">
				<div class="itemCntSec">
					{# {% if row.topic.name %}
					<div class="itemTags">{{ row.topic.name|capitalize }}</div>
					{% endif %} #}
			<div class="itemMetain">
				<div class="itemTags">{% for tag in row.topic %}{{ tag.name|capitalize }} {% if not loop.last %}<span class="dots"></span>{% endif %} {% endfor %}</div>
			{% if moduleSetting.enable_meta %}
			<div class="itemMeta">
			  <span class="reading-minutes">
	
				{% set initialPostWords = row.description|striptags|wordcount %}
				  {% set calculatedPostWords = initialPostWords / 100 %}
				  {% set finishedPostWords = calculatedPostWords|divide(300)|round(2) %}
				  {% set number = finishedPostWords|round %}
				  {% if number < 1 %}
				  Less than one min
				  {% else %}
				  {{ finishedPostWords|round }} minute read
				  {% endif %}
			  </span>
			   | <span class="itemDate">{{ row.date|datetimeformat('%B %e, %Y') }}</span>
			</div>
			{% endif %}   
			</div>
	
					{% if row.name %}
					<div class="itemTitle">
						<h4 class="restitle">
							<a  href="{{ row.link }}">
								{{ row.name }}
							</a>
						</h4>
					</div>  
					{% endif %}
				</div>
				{% if row.read_more_text %}
				<div class="intro_btn_wrap">
					<div class="btn_item">
						<a class="arrow-link " href="{{ row.link }}">
							<span>{{ row.read_more_text }}</span>
							<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M6.83814 5.62106C7.05396 5.83037 7.05396 6.16965 6.83814 6.37896L1.2039 11.843C0.988082 12.0523 0.638231 12.0523 0.422411 11.843L0.161865 11.5904C-0.053955 11.3811 -0.053955 11.0417 0.161865 10.8324L5.14481 6.00001L0.161865 1.16755C-0.0539548 0.958242 -0.0539548 0.618957 0.161865 0.409655L0.422411 0.156977C0.638231 -0.0523252 0.988082 -0.0523252 1.2039 0.156977L6.83814 5.62106Z" fill="#007C43"></path>
							</svg>
						</a>
					</div>
				</div>
				{% endif %}
			</div>
	
		</div>
	</div>
	{% endif %}
	{% endmacro%}
	
	
	{% macro blogCards(item,moduleSetting) %}
	{% if item %}
	<div class="cmCol3 cardItem">
		<div class="itemInr {{ moduleSetting.select_card_theme }} {% if moduleSetting.reverse_text %}cardColor{% endif %}">
			{% if item.featured_image %}
			<div class="itemImg">
				<div class="itemImgin" style="background-image:url({{ item.featured_image }})">	<a class="absltLink" href="{{ item.absolute_url }}"></a></div>
			</div>
			{% endif %}
			<div class="itemCnWrap">
				<div class="itemCntSec">
					{% if item.topic_list %}
					<div class="itemTags">
						{% set included_topics = item.topic_list | rejectattr("slug", "equalto", "featured") | list %}
						{% for topic in included_topics %}
						<a class="{{ topic.slug }}" href="{{ blog_tag_url(group.id, topic.slug) }}">{{ topic.name|capitalize }}</a>{% if not loop.last %}<span class="dots"></span>{% endif %}
						{% endfor %}
					</div>
					{% endif %}
					<div class="itemMeta">
						<span class="reading-minutes">
							{% set initialPostWords = item.post_body|striptags|wordcount %}
							{% set calculatedPostWords = (initialPostWords/100) * 100 %}
							{% set finishedPostWords = calculatedPostWords|divide(300)|round(2) %}
							{% set number = finishedPostWords|round %}
							{% if number < 1 %}
							{% else %}
							{{ finishedPostWords|round }} minute read
							{% endif %}
						</span> | <span class="itemDate">{{ item.publish_date_local_time.strftime('%B %e, %Y') }}</span>
					</div>
					{% if item.name %}
					<div class="itemTitle">
						<h4>
							<a  href="{{ item.absolute_url }}">
								{{ item.name }}
							</a>
						</h4>
					</div>  
					{% endif %}
				</div>
				{% if moduleSetting.button_text %}
				<div class="intro_btn_wrap">
					<div class="btn_item">
						<a class="arrow-link " href="{{ item.absolute_url }}">
							<span>{{ moduleSetting.button_text }}</span>
							<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M6.83814 5.62106C7.05396 5.83037 7.05396 6.16965 6.83814 6.37896L1.2039 11.843C0.988082 12.0523 0.638231 12.0523 0.422411 11.843L0.161865 11.5904C-0.053955 11.3811 -0.053955 11.0417 0.161865 10.8324L5.14481 6.00001L0.161865 1.16755C-0.0539548 0.958242 -0.0539548 0.618957 0.161865 0.409655L0.422411 0.156977C0.638231 -0.0523252 0.988082 -0.0523252 1.2039 0.156977L6.83814 5.62106Z" fill="#007C43"></path>
							</svg>
						</a>
					</div>
				</div>
				{% endif %}
			</div>
	
		</div>
	</div>
	{% endif %}
	{% endmacro%}
	