html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-hero {
  padding-top: 80px;
  padding-bottom: 80px;
}
section.u4m-hero.reverse-text .intro_title {
  color: #b5dda5;
}
section.u4m-hero .page-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
section.u4m-hero .page-center.center {
  flex-direction: column-reverse;
  row-gap: 60px;
}
section.u4m-hero .page-center.center .content-column {
  width: 100%;
}
section.u4m-hero .page-center.center .content-column .intro_content {
  text-align: center;
}
section.u4m-hero .page-center.center .content-column .intro_btn_wrap {
  justify-content: center;
}
section.u4m-hero .page-center.center .media-col {
  width: 100%;
}
section.u4m-hero .page-center.center .media-col .mediaItem {
  text-align: center;
}
section.u4m-hero .page-center.center .media-col .mediaItem img {
  min-height: 380px;
  max-height: 380px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.u4m-hero .page-center.no-media {
  row-gap: 0px;
}
@media (max-width: 767px) {
  section.u4m-hero .page-center {
    -moz-column-gap: 0;
         column-gap: 0;
    flex-direction: column-reverse;
  }
}
section.u4m-hero .content-column {
  width: calc(50% - 30px);
}
@media (max-width: 767px) {
  section.u4m-hero .content-column {
    width: 100%;
  }
}
section.u4m-hero .content-column .intro_content {
  padding: 0;
  text-align: left;
  margin-bottom: 0;
  max-width: 100%;
}
section.u4m-hero .content-column .intro_content .intro_desc {
  margin-bottom: 12px;
}
section.u4m-hero .content-column .intro_btn_wrap {
  justify-content: flex-start;
}
section.u4m-hero .content-column .intro_btn_wrap .hs-button,
section.u4m-hero .content-column .intro_btn_wrap .sec-btn {
  margin-bottom: 0;
}
section.u4m-hero .media-col {
  width: calc(50% - 30px);
}
@media (max-width: 767px) {
  section.u4m-hero .media-col {
    width: 100%;
    margin-bottom: 20px;
  }
}
section.u4m-hero .media-col .mediaCol {
  position: relative;
}
section.u4m-hero .media-col .mediaCol .playIcon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
section.u4m-hero .media-col .cardVideoPoster {
  min-height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
}
section.u4m-hero .media-col .cardVideo {
  min-height: 380px;
}
section.u4m-hero .cardVideoPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
section.u4m-hero .cardVideoPopup .cardVideo {
  max-width: 80%;
  max-height: 80%;
}
section.u4m-hero .cardVideoPopupInr {
  position: relative;
  max-width: 1200px;
  padding: 50px 20px;
  width: 100%;
}
section.u4m-hero .cardVideoPopupInr .iframe_wrap iframe {
  width: 100%;
  min-height: 600px;
}
@media (max-width: 767px) {
  section.u4m-hero .cardVideoPopupInr .iframe_wrap iframe {
    min-height: 400px;
  }
}
section.u4m-hero .cardVideoPopupInr .close {
  position: absolute;
  right: 20px;
  top: 0px;
  z-index: 9;
  cursor: pointer;
}
section.u4m-hero .cardVideoPopupInr .close svg {
  width: 25px;
  height: 25px;
  color: #ffffff;
  fill: #ffffff;
}