{% set moduleName = 'u4m-cards' %}
{% set ExtramoduleClass = '' %}
{% include "../partials/u4-module-includes.html" %}

<div class="page-center ">
  <div class="intro_wrapp">
    {{macros.introGroup(module.intro_content)}}
  </div>
  <div class="btmCntt ">

    <div class="inner_wrpp intro_content 	{{ module.module_settings.cards_group.media_type }}_cols  {{ module.module_settings.cards_group.content_alignment }} cols_{{ module.module_settings.cards_group.column_type }}">
      {% for item in module.cards_items_group %}
      <div class="items  {{ module.module_settings.cards_group.cards_background_color }} {% if module.module_settings.cards_group.reverse_text %} cards_reverse_text {% endif %} {% if module.module_settings.cards_group.enabled_drop_shadow %}dropShadow{% endif %}">
        <div class="innerWrpp">
          <div class="topcntt {{ module.module_settings.cards_group.icon_alignment }}">
            {% if  module.module_settings.cards_group.media_type  == 'img'%}
            {% if item.image_field.src %}
            <div class="topcnttimg" style="background-image:url({{ item.image_field.src }});"></div>
<!--             <img src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}"> -->
            {% endif %}
            {% endif %}
            {% if  module.module_settings.cards_group.media_type  == 'icons'%}
            <div class="icons_wrpp">
              {% if item.icon_group.icon_type == 'Image' %}
              <div class="icon">
                {% if item.icon_group.image_icon.src %}
                {% set sizeAttrs = 'width="{{ item.icon_group.image_icon.width|escape_attr }}" height="{{ item.icon_group.image_icon.height|escape_attr }}"' %}
                <img src="{{ item.icon_group.image_icon.src }}" alt="{{ item.icon_group.image_icon.alt }}"  {{ sizeAttrs }}>
                {% endif %}
              </div>
              {% elif item.icon_group.icon_type == 'svg' %}
              <div class="icon {{ module.module_settings.cards_group.icon_color }}_text		{{ item.icon_group.svg_icon_size_type }}">
                {% inline_text field="icon_group.svg_icon" value="{{ item.icon_group.svg_icon }}" %}
              </div>
              {% endif %}
            </div>
            {% endif %}
            <div class="btmcntt">
              {% if item.include_eyebrow_text %}
              <div class="eyebrow_text {{ module.module_settings.cards_group.eyebow_text_style }}">
                {{ item.eyebrow_text }}
              </div>
              {% endif %}
              {% if item.include_heading %}
              <{{item.heading_size }} class="intro_title">{{ item.heading }}</{{ item.heading_size }}>
                {% endif %}
                {% if item.include_content %}
                <div class="intro_desc "> {{ item.content }} </div>
            {% endif %}

            {% if item.include_button %}
            {{macros.singleButton(item.button_group)}}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


</div>
</div>
</section>







