@import "../../css/_module-imports";



.u4m-cards {
.intro_content {
	.eyebrow_text {
	@include size14;
	}
}
.btmCntt {
	.inner_wrpp.intro_content {
		max-width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
	&.center{
	text-align: center;

	.intro_btn_wrap{
		justify-content: center;
	}
	
	}
	&.left{
	text-align: left;
	.intro_btn_wrap{
		justify-content: flex-start;
	}
	}
	&.right{
	text-align: right;
	.intro_btn_wrap{
		justify-content: flex-end;
	}
	}
		.items {
			width: calc(33.33% - 13.366667px);
			max-width: 100%;
			border-radius: 12px;
			&.cards_reverse_text{
				.eyebrow_text{
					color: $white !important;
				}
				.intro_title{
					color: $white !important;
				}
				.intro_desc > *{
					color: $white !important;
				}

				.arrow-link {
					color: $white !important;
				
				&:focus {
					color: $white !important;
				}
				&:hover {
					color: $white !important;
				}

			}

				
			}
			.innerWrpp {
				padding: 36px 24px;
				display: flex;
				flex-direction: column;
				height: 100%;
				.icon {
					margin-bottom: 32px;
					svg {
						fill: currentColor;
						color: currentColor;
						path {
							fill: currentColor;
							color: currentColor;
						}
					}
				}
				.icon.small {
					svg {
						width: 44px;
						height: 44px;
					}
				}
				.icon.large {
					svg {
						width: 100px;
						height: 100px;
					}
				}
				.icon.medium {
					svg {
						width: 64px;
						height: 64px;
					}
				}
				.intro_btn_wrap {
					margin-top: auto;
				}
				.eyebrow_text{
					color: $heading;
				}
				.intro_title{
					color: $heading;
				}
				.intro_desc > *{
					color: $heading;
				}
				.arrow-link {
					color: $action1;
				
				&:focus {
color: $heading;
				}
				&:hover {
					color: $heading;
				}

			}
			}
			.topcntt {
				margin-bottom: 34px;
			}
	@include tabletmid{
		width: calc(50% - 10px);
	}

	@include tabletvert{
		width: 100%;
	}
		}
	@include tabletmid{
	flex-wrap: wrap;
	}
	}
}
}
