html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

.u4m-rich-text .intro_content {
  margin-bottom: 60rem;
}
.u4m-rich-text .btm img {
  overflow: hidden;
  border-radius: 12px;
}