html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-rich-text {
  background-size: cover;
  background-position: 50% 50%;
}
section.u4m-rich-text.reverse-text {
  color: #ffffff;
}
section.u4m-rich-text div.content {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
  max-width: 1000rem;
  margin-top: 50rem;
  margin-bottom: 100rem;
}
section.u4m-rich-text div.content .b1 {
  font-family: "Inter";
  font-size: 22rem;
  line-height: 1.3;
  margin-bottom: 20rem;
}
@media (max-width: 580px) {
  section.u4m-rich-text div.content .b1 {
    font-size: 17rem;
  }
}
section.u4m-rich-text div.content .b2 {
  font-family: "Inter";
  font-size: 18rem;
  line-height: 1.3;
  margin-bottom: 20rem;
}
@media (max-width: 580px) {
  section.u4m-rich-text div.content .b2 {
    font-size: 16rem;
  }
}
section.u4m-rich-text div.content p,
section.u4m-rich-text div.content ul,
section.u4m-rich-text div.content ol,
section.u4m-rich-text div.content .b3 {
  font-family: "Inter";
  font-size: 16rem;
  line-height: 1.3;
  margin-bottom: 20rem;
}
section.u4m-rich-text div.content .b4 {
  font-family: "Inter";
  font-size: 14rem;
  line-height: 1.3;
  margin-bottom: 20rem;
}
@media (max-width: 580px) {
  section.u4m-rich-text div.content .b4 {
    font-size: 14rem;
  }
}
section.u4m-rich-text div.content h1,
section.u4m-rich-text div.content .h1 {
  font-family: "Inter";
  font-size: 48rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
  margin-top: 0;
}
@media (max-width: 1024px) {
  section.u4m-rich-text div.content h1,
  section.u4m-rich-text div.content .h1 {
    font-size: 30rem;
  }
}
@media (max-width: 580px) {
  section.u4m-rich-text div.content h1,
  section.u4m-rich-text div.content .h1 {
    font-size: 28rem;
    margin-bottom: 20rem;
  }
}
section.u4m-rich-text div.content h2,
section.u4m-rich-text div.content .h2 {
  font-family: "Inter";
  font-size: 40rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
}
@media (max-width: 1024px) {
  section.u4m-rich-text div.content h2,
  section.u4m-rich-text div.content .h2 {
    font-size: 28rem;
  }
}
@media (max-width: 580px) {
  section.u4m-rich-text div.content h2,
  section.u4m-rich-text div.content .h2 {
    font-size: 25rem;
    margin-bottom: 20rem;
  }
}
section.u4m-rich-text div.content h3,
section.u4m-rich-text div.content .h3 {
  font-family: "Inter";
  font-size: 33rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
}
@media (max-width: 1024px) {
  section.u4m-rich-text div.content h3,
  section.u4m-rich-text div.content .h3 {
    font-size: 25rem;
  }
}
@media (max-width: 580px) {
  section.u4m-rich-text div.content h3,
  section.u4m-rich-text div.content .h3 {
    font-size: 22rem;
    margin-bottom: 20rem;
  }
}
section.u4m-rich-text div.content h4,
section.u4m-rich-text div.content .h4 {
  font-family: "Inter";
  font-size: 28rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
}
@media (max-width: 1024px) {
  section.u4m-rich-text div.content h4,
  section.u4m-rich-text div.content .h4 {
    font-size: 22rem;
  }
}
@media (max-width: 580px) {
  section.u4m-rich-text div.content h4,
  section.u4m-rich-text div.content .h4 {
    font-size: 20rem;
    margin-bottom: 20rem;
  }
}
section.u4m-rich-text div.content h5,
section.u4m-rich-text div.content .h5 {
  font-family: "Inter";
  font-size: 23rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
}
@media (max-width: 1024px) {
  section.u4m-rich-text div.content h5,
  section.u4m-rich-text div.content .h5 {
    font-size: 20rem;
  }
}
@media (max-width: 580px) {
  section.u4m-rich-text div.content h5,
  section.u4m-rich-text div.content .h5 {
    font-size: 20rem;
    margin-bottom: 20rem;
  }
}
section.u4m-rich-text div.content h6,
section.u4m-rich-text div.content .h6 {
  font-family: "Inter";
  font-size: 19rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
}
@media (max-width: 1024px) {
  section.u4m-rich-text div.content h6,
  section.u4m-rich-text div.content .h6 {
    font-size: 19rem;
  }
}
@media (max-width: 580px) {
  section.u4m-rich-text div.content h6,
  section.u4m-rich-text div.content .h6 {
    font-size: 19rem;
    margin-bottom: 20rem;
  }
}
section.u4m-rich-text div.content .swatches div {
  width: 90rem;
  height: 90rem;
  padding: 5rem;
  font-size: 10rem;
  text-align: center;
  display: inline-block;
  margin: 8rem;
  vertical-align: top;
  line-height: normal;
}
section.u4m-rich-text div.content .swatches div.secondary {
  width: 50rem;
  height: 50rem;
}
section.u4m-rich-text div.content .action1 {
  background-color: #007c43;
  color: #ffffff;
}
section.u4m-rich-text div.content .action2 {
  background-color: #00a4bd;
  color: #ffffff;
}
section.u4m-rich-text div.content .black {
  background-color: #000000;
  color: #ffffff;
}
section.u4m-rich-text div.content .gray1 {
  background-color: #dbdbdb;
  color: #000000;
}
section.u4m-rich-text div.content .gray2 {
  background-color: #6e757c;
}
section.u4m-rich-text div.content .gray3 {
  background-color: #eeeeee;
  color: #ffffff;
}
section.u4m-rich-text div.content .white {
  background-color: #ffffff;
  color: #000000;
  border: 1rem solid #6e757c;
}
section.u4m-rich-text div.content .button {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007c43;
  border: 1px solid #007c43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
section.u4m-rich-text div.content .button:hover, section.u4m-rich-text div.content .button:focus {
  background-color: #ffffff;
  color: #007c43;
}
section.u4m-rich-text div.content .button-small {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007c43;
  border: 1px solid #007c43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 10rem 20rem;
  font-size: 12rem;
  line-height: 1.2;
}
section.u4m-rich-text div.content .button-small:hover, section.u4m-rich-text div.content .button-small:focus {
  background-color: #ffffff;
  color: #007c43;
}
section.u4m-rich-text div.content .button-stroked {
  display: inline-block;
  font-family: "Inter";
  color: #000000;
  background-color: transparent;
  border: solid 1rem #000000;
  padding: 13rem 30rem;
  margin: 0;
  transition: 0.1s ease-in;
  font-weight: bold;
  letter-spacing: 0.25rem;
  text-decoration: none;
  cursor: pointer;
}
section.u4m-rich-text div.content .button-stroked:hover, section.u4m-rich-text div.content .button-stroked:focus {
  background-color: #000000;
  color: #ffffff;
}
section.u4m-rich-text div.content .button-text {
  font-weight: bold;
  margin: 20rem 0;
  cursor: pointer;
}
section.u4m-rich-text div.content .button-text:after {
  display: inline-block;
  margin-left: 5rem;
  width: 9rem;
  height: 7rem;
}
section.u4m-rich-text div.content .button-text:hover, section.u4m-rich-text div.content .button-text:focus {
  color: #000000;
}
section.u4m-rich-text div.content .hs-cta-wrapper a {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007c43;
  border: 1px solid #007c43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
section.u4m-rich-text div.content .hs-cta-wrapper a:hover, section.u4m-rich-text div.content .hs-cta-wrapper a:focus {
  background-color: #ffffff;
  color: #007c43;
}
section.u4m-rich-text div.content .animation-sample-short,
section.u4m-rich-text div.content .animation-sample-medium,
section.u4m-rich-text div.content .animation-sample-long {
  cursor: pointer;
  background-color: #007c43;
  padding: 60rem 20rem;
  color: #ffffff;
  margin: 10rem auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
section.u4m-rich-text div.content .animation-sample-short {
  transition: 0.1s ease-in;
  width: 50%;
}
section.u4m-rich-text div.content .animation-sample-medium {
  transition: 0.25s ease-in;
  width: 50%;
}
section.u4m-rich-text div.content .animation-sample-long {
  transition: 1s ease-in;
  width: 50%;
}
section.u4m-rich-text div.content .animation-sample-short:hover,
section.u4m-rich-text div.content .animation-sample-medium:hover,
section.u4m-rich-text div.content .animation-sample-long:hover {
  width: 100%;
}
section.u4m-rich-text div.content .anchor {
  display: block;
  position: relative;
  top: -100rem;
  visibility: hidden;
}
section.u4m-rich-text div.content .anchor2 {
  display: block;
  position: relative;
  top: -300rem;
  visibility: hidden;
}
section.u4m-rich-text div.content .clear {
  clear: both;
}
section.u4m-rich-text div.content .hs_cos_wrapper_type_rich_text,
section.u4m-rich-text div.content .hs_cos_wrapper_type_text,
section.u4m-rich-text div.content .hs_cos_wrapper_type_header,
section.u4m-rich-text div.content .hs_cos_wrapper_type_section_header,
section.u4m-rich-text div.content .hs_cos_wrapper_type_raw_html,
section.u4m-rich-text div.content .hs_cos_wrapper_type_raw_jinja,
section.u4m-rich-text div.content .hs_cos_wrapper_type_page_footer {
  word-wrap: break-word;
}