.footer-wrapper {
  .footer {
    background-color: $ftBg;
    padding: 80px 0;
    @include tabletvert {
      padding: 50px 0;
    }
    ul {
      line-height: normal;
      @include tabletvert {
        justify-content: center;
      }
    }
    .footer-top-inner {
      display: flex;
      gap: 40px;
      margin-bottom: 40px;
      flex-wrap: wrap;
      @include tabletvert {
        gap: 20px;
        margin-bottom: 32px;
      }
      .footer-logo-col {
        max-width: 413px;
        @include tablet {
          max-width: 300px;
        }

        @include tabletvert {
          width: 100%;
          max-width: 100%;
        }
        .footer-logo {
          @include tabletvert {
            text-align: center;
          }
        }
        .social-wrap {
          margin-bottom: 32px;
          @include tabletvert {
            margin-bottom: 20px;
          }
        }
        img {
          vertical-align: middle;
          width: 250px !important;
          @include tabletvert {
            width: 200px !important;
            margin-bottom: 5px;
          }
        }
        .company-details {
          margin-top: 12px;
          margin-bottom: 12px;
          @include tabletvert {
            text-align: center;
          }
          p {
            line-height: 1.3;
            margin-bottom: 0;
          }
        }
        .login-menu {
          ul {
            margin: 0;
            display: flex;
            flex-direction: column;
            @include tabletvert {
              text-align: center;
            }
            li {
              margin: 0;
              margin-bottom: 12px;
              &:last-child {
                margin-bottom: 0;
              }
              a {
                padding: 0;
                max-width: inherit;
                text-overflow: inherit;
                white-space: normal;
                overflow: inherit;
                color: $heading;
                font-weight: 400;
                line-height: 1.3;
                &:hover {
                  color: $action1;
                }
              }
            }
          }
        }
      }
      .footer-menu {
        width: calc(100% - 453px);
        @include tablet {
          width: calc(100% - 340px);
        }
        @include tabletvert {
          width: 100%;
        }
      }
      .footer-menu .hs-menu-wrapper > ul {
        -moz-column-gap: 40px;
        column-gap: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        width: 100%;
        row-gap: 40px;
        @include navbreakMin {
          flex-wrap: nowrap;
        }
        @include tabletvert {
          justify-content: center;
          text-align: center;
        }
        &::after,
        &::before {
          display: none;
        }
        > li {
          float: none;
          letter-spacing: normal;
          margin: 0;
          width: auto;
          @include tabletvert {
            width: 100%;
          }
          > a {
            color: $heading;
            font-weight: 600;
            @include size19;
            line-height: normal;
            margin-bottom: 20px;
          }
          a {
            padding: 0;
            max-width: inherit;
            text-overflow: inherit;
            white-space: normal;
            overflow: inherit;
            @include tabletvert {
              width: auto;
            }
          }
          .hs-menu-children-wrapper {
            position: static;
            opacity: 1;
            visibility: visible;
            > li {
              margin-bottom: 12px;
              letter-spacing: 0;
              &:last-child {
                margin-bottom: 0;
              }
              > a {
                color: $heading;
                font-weight: 400;
                line-height: 1.3;
                &:hover {
                  color: $action1;
                }
              }
            }
          }
        }
      }
    }
    .bottom-footer {
      border-top: 1px solid $gray1;
      padding: 32px 0px;
      padding-bottom: 0;
      text-align: center;
      .privacy-menu {
        ul {
          -moz-column-gap: 20px;
          column-gap: 20px;
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          width: 100%;
          justify-content: center;
          &::after,
          &::before {
            display: none;
          }
          > li {
            margin: 0;
            > a {
              padding: 0;
              max-width: inherit;
              text-overflow: inherit;
              white-space: normal;
              overflow: inherit;
              color: $heading;
              font-weight: 400;
              line-height: 1.3;
              &:hover {
                color: $action1;
              }
            }
          }
        }
      }
      .copyright {
        margin-top: 28px;
        @include size11;
        line-height: 1;
        @include tabletvert {
          margin-top: 20px;
        }
      }
    }
  }
  &.no_nav {
    .footer .bottom-footer {
      border: none;
      padding: 0;
    }
    .footer .bottom-footer .copyright {
      margin-top: 0;
    }
  }
}
