//heading styles
@mixin h1 {
  font-family: $font1;
  font-size: 36rem;
  font-weight: 400;
  margin-bottom: 30rem;
  line-height: 1.2;
  margin-top: 0;
  @include tablet {
    font-size: 30rem;
  }
  @include phone {
    font-size: 28rem;
    margin-bottom: 20rem;
  }
}
@mixin h2 {
  font-family: $font1;
  font-size: 32rem;
  font-weight: 400;
  margin-bottom: 30rem;
  line-height: 1.2;
  @include tablet {
    font-size: 28rem;
  }
  @include phone {
    font-size: 25rem;
    margin-bottom: 20rem;
  }
}
@mixin h3 {
  font-family: $font1;
  font-size: 28rem;
  font-weight: 400;
  margin-bottom: 30rem;
  line-height: 1.2;
  @include tablet {
    font-size: 25rem;
  }
  @include phone {
    font-size: 22rem;
    margin-bottom: 20rem;
  }
}
@mixin h4 {
  font-family: $font1;
  font-size: 25rem;
  font-weight: 400;
  margin-bottom: 30rem;
  line-height: 1.2;
  @include tablet {
    font-size: 22rem;
  }
  @include phone {
    font-size: 22rem;
    margin-bottom: 20rem;
  }
}
@mixin h5 {
  font-family: $font1;
  font-size: 22rem;
  font-weight: 400;
  margin-bottom: 30rem;
  line-height: 1.2;
  @include tablet {
    font-size: 20rem;
  }
  @include phone {
    font-size: 20rem;
    margin-bottom: 20rem;
  }
}
@mixin h6 {
  font-family: $font1;
  font-size: 20rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
  color: $rampGreen;
  @include tablet {
    font-size: 19rem;
  }
  @include phone {
    font-size: 19rem;
    margin-bottom: 20rem;
  }
}
//body styles
@mixin b1 {
  font-family: $font1;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  margin-bottom: 20rem;
  @include phone {
    font-size: 17rem;
  }
}
@mixin b2 {
  font-family: $font1;
  font-size: 18rem;
  line-height: $baseLineHeight;
  margin-bottom: 20rem;
  @include phone {
    font-size: 16rem;
  }
}
@mixin b3 {
  font-family: $font1;
  font-size: 16rem;
  line-height: $baseLineHeight;
  margin-bottom: 20rem;
}
@mixin b4 {
  font-family: $font1;
  font-size: 14rem;
  line-height: $baseLineHeight;
  margin-bottom: 20rem;
  @include phone {
    font-size: 14rem;
  }
}
@mixin b5 {
  font-family: $font1;
  font-size: 13rem;
  line-height: $baseLineHeight;
  margin-bottom: 20rem;
  @include phone {
    font-size: 13rem;
  }
}
@mixin b6 {
  font-family: $font1;
  font-size: 11rem;
  line-height: $baseLineHeight;
  margin-bottom: 10rem;
  @include phone {
    font-size: 12rem;
  }
}
@mixin blockquote {
  font-family: $font1;
  font-size: 30rem;
  font-weight: bold;
  line-height: $baseLineHeight;
  letter-spacing: 1rem;
  margin: 50rem auto;
  color: $action1;
  display: block;
  max-width: 90%;
  @include phone {
    font-size: 23rem;
  }
}
@mixin eyebrow {
  font-family: $font1;
  font-size: 16rem;
  font-weight: 600;
  line-height: 1;
  display: block;
  margin-bottom: 10rem;
  color: $eyebrowtext;
}
@mixin caption {
  font-family: $font1;
  font-size: 11rem;
  font-weight: 400;
  line-height: 1;
  display: block;
  margin-bottom: 10rem;
}
@mixin size32 {
  font-size: 32rem;
}
@mixin size25 {
  font-size: 25rem;
}
@mixin size24 {
  font-size: 24rem;
}
@mixin size23 {
  font-size: 23rem;
}
@mixin size22 {
  font-size: 22rem;
}
@mixin size21 {
  font-size: 21rem;
}
@mixin size20 {
  font-size: 20rem;
}
@mixin size19 {
  font-size: 19rem;
}
@mixin size18 {
  font-size: 18rem;
}
@mixin size16 {
  font-size: 16rem;
}
@mixin size15 {
  font-size: 15rem;
}
@mixin size14 {
  font-size: 14rem;
}
@mixin size13 {
  font-size: 13rem;
}
@mixin size12 {
  font-size: 12rem;
}
@mixin size11 {
  font-size: 11rem;
}
@mixin size10 {
  font-size: 10rem;
}
@mixin size50 {
  font-size: 50rem;
}
