@import "../../css/_module-imports";

.u4m-pricing-cards {
	.intro_content {
		margin-bottom: 60rem;
	}
	.btms {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
    row-gap: 20px;
	&.three_col{
		.items {
			width: 33.3%;
			@include tabletmid{
				width: 50%;
			  }
			  @include tabletvert{
				width: 100%
			  }
		}
	}
	&.two_col{
		.items {
			width: 50%;
			@include tabletmid{
				width: 50%;
			  }
			  @include tabletvert{
				width: 100%
			  }
		}
	}
	&.one_col{
		.items {
			width: 100%;
			@include tabletmid{
				width: 100%;
			  }
			  @include tabletvert{
				width: 100%
			  }
		}
	}
		.items {
      width: 25%;
      max-width: 100%;
      padding: 0 10px;

			.innerCntt {
				padding: 36px 24px;
				border-radius: 12px;
				overflow: hidden;
				height: 100%;
				.img {
					margin-bottom: 32px;
					img {
						height: 40px !important;
						width: auto;
						object-fit: cover;
					}
				}
				.cntt {
					margin-bottom: 32px;
					>* {
						color:  $heading;
					}
					p {
						&:last-child {
							margin: 0;
						}
					}
				}
				hr {
					margin: 0;
					border-top: 1rem solid $gray1;
				}
				.features {
					padding-top: 32px;
					display: flex;
						flex-direction: column;
						gap: 8px;
					.features_items {
						display: flex;
						align-items: center;
						gap: 8px;
						color:  $heading;
					}
				}
			}
			.innerCntt.card_reverse_text {
				.cntt {
					>* {
						color: $white;
					}
				}
				hr {
					border-color: $white;
				}
				.features {
					.features_items {
						color: $white;
					}
				}
			}
			.innerCntt.left_cnt {
				text-align: left;
				.features {
					.features_items {
						justify-content: left;
					}
				}
			}
			.innerCntt.right_cnt {
				text-align: right;
				.features {
					.features_items {
						justify-content: right;
					}
				}
			}
			.innerCntt.center_cnt {
				text-align: center;
				.features {
					.features_items {
						justify-content: center;
					}
				}
			}
      @include tabletmid{
        width: 50%;
      }
      @include tabletvert{
        width: 100%
      }
		}
	}
}
