html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

footer.u4m-footer {
  padding: 50px 0;
  border-radius: 4rem;
  background: #edf0f2;
}
footer.u4m-footer .inner {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
  display: flex;
  flex-direction: column;
}
footer.u4m-footer .inner .logo-and-menu {
  display: flex;
  padding: 20px 0;
}
body.lp-sign-up footer.u4m-footer .inner .logo-and-menu {
  display: none;
}
footer.u4m-footer .inner .logo-and-menu .logo {
  flex: 1;
}
footer.u4m-footer .inner .logo-and-menu .menu {
  flex: 1;
}
footer.u4m-footer .inner .logo-and-menu .menu ul {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
footer.u4m-footer .inner .logo-and-menu .menu ul li {
  float: unset;
  flex: 1;
}
footer.u4m-footer .inner .logo-and-menu .menu ul li a[role=menuitem] {
  width: unset;
  max-width: unset;
  padding: 0;
  color: #33475b;
}
footer.u4m-footer .inner .logo-and-menu .menu ul li a[role=menuitem]:hover {
  color: #733BF7;
}
footer.u4m-footer .inner .logo-and-menu .menu ul li.hs-menu-depth-1 {
  padding: 0 10px;
}
footer.u4m-footer .inner .logo-and-menu .menu ul li.hs-menu-depth-1 > a {
  font-weight: bold;
  font-size: 125%;
}
footer.u4m-footer .inner .logo-and-menu .menu ul li.hs-menu-depth-1 ul {
  display: flex;
  flex-direction: column;
  position: relative;
}
footer.u4m-footer .inner .logo-and-menu .menu ul li.hs-menu-depth-1 ul li {
  margin: 0 0 10px;
}
@media (max-width: 1024px) {
  footer.u4m-footer .inner .logo-and-menu .menu ul {
    justify-content: unset;
  }
}
@media (max-width: 768px) {
  footer.u4m-footer .inner .logo-and-menu .menu ul {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  footer.u4m-footer .inner .logo-and-menu .menu {
    margin: 40px -10px 0;
  }
}
.hs-landing-page footer.u4m-footer .inner .logo-and-menu .menu {
  display: none;
}
@media (max-width: 1024px) {
  footer.u4m-footer .inner .logo-and-menu {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  footer.u4m-footer .inner .logo-and-menu {
    align-items: center;
    text-align: center;
  }
}
footer.u4m-footer .inner .colophon-and-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
body.lp-sign-up footer.u4m-footer .inner .colophon-and-social {
  justify-content: center;
}
footer.u4m-footer .inner .colophon-and-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer.u4m-footer .inner .colophon-and-social ul li {
  margin-left: 20rem;
  margin-top: 5rem;
}
footer.u4m-footer .inner .colophon-and-social ul li a {
  color: #33475b;
  font-size: 16rem;
  padding: 0;
}
footer.u4m-footer .inner .colophon-and-social ul li a:hover, footer.u4m-footer .inner .colophon-and-social ul li a:focus {
  color: #733BF7;
}
footer.u4m-footer .inner .colophon-and-social .colophon .links {
  display: flex;
}
footer.u4m-footer .inner .colophon-and-social .colophon .links .copyright {
  margin: 5px;
}
@media (max-width: 768px) {
  footer.u4m-footer .inner .colophon-and-social .colophon .links {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
}
footer.u4m-footer .inner .colophon-and-social .social ul {
  display: flex;
}
footer.u4m-footer .inner .colophon-and-social .social ul li a {
  font-size: 25px;
  color: #33475b;
}
footer.u4m-footer .inner .colophon-and-social .social ul li a:hover {
  color: #733BF7;
}
@media (max-width: 768px) {
  footer.u4m-footer .inner .colophon-and-social {
    flex-direction: column-reverse;
  }
}
.hs-landing-page footer.u4m-footer {
  padding: 20px 0;
}