html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

.u4m-alternating-content {
  position: relative;
  margin: 0 auto;
}
.u4m-alternating-content .bg_overlayColor {
  background: rgba(255, 255, 255, 0.5);
}
@media (max-width: 767px) {
  .u4m-alternating-content .bg_overlayColor {
    background: rgba(255, 255, 255, 0.8) !important;
  }
}
@media (max-width: 767px) {
  .u4m-alternating-content .bg_image {
    background-size: cover !important;
  }
}
.u4m-alternating-content .row.mbbottom {
  flex-direction: column-reverse !important;
}
.u4m-alternating-content .row.mbtop {
  flex-direction: column !important;
}
.u4m-alternating-content.left_col {
  max-width: 1440px;
}
.u4m-alternating-content.left_col .bg_image {
  background-position: top right;
  background-size: contain;
}
.u4m-alternating-content.left_col .bg_overlayColor {
  background: linear-gradient(90.02deg, #ffffff 55.51%, rgba(255, 255, 255, 0) 90%);
}
.u4m-alternating-content.right_col {
  max-width: 1440px;
}
.u4m-alternating-content.right_col .bg_image {
  background-position: top left;
  background-size: contain;
}
.u4m-alternating-content.right_col .bg_overlayColor {
  background: linear-gradient(90.13deg, rgba(255, 255, 255, 0) 32.05%, rgba(255, 255, 255, 0.665271) 37.45%, #ffffff 45.99%);
}
.u4m-alternating-content .gradient1 {
  background-image: linear-gradient(89.85deg, rgba(247, 248, 246, 0) 0.75%, rgba(252, 252, 252, 0.626667) 20.58%, #ffffff 34.45%, #f5f0e7 96.4%);
}
.u4m-alternating-content .row {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 767px) {
  .u4m-alternating-content .row {
    gap: 30px;
    flex-direction: column-reverse;
  }
}
.u4m-alternating-content .row.con {
  align-items: start;
}
.u4m-alternating-content .row.right_col {
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .u4m-alternating-content .row.right_col {
    flex-direction: column-reverse;
  }
}
.u4m-alternating-content .row .left-section {
  width: calc(50% - 30px);
}
@media (max-width: 767px) {
  .u4m-alternating-content .row .left-section {
    width: 100%;
  }
}
.u4m-alternating-content .row .left-section .intro_wrapp .intro_content {
  margin-bottom: 0;
  max-width: 100%;
  padding: 0;
  text-align: left;
  width: 100%;
}
.u4m-alternating-content .row .left-section .intro_wrapp .intro_content .intro__inner .eyebrow_text {
  font-size: 14rem;
}
.u4m-alternating-content .row .left-section .intro_wrapp .intro_content .intro__inner .intro_desc {
  margin-bottom: 32px;
}
.u4m-alternating-content .row .left-section .intro_wrapp .intro_content .intro__inner .intro_btn_wrap {
  justify-content: flex-start;
}
.u4m-alternating-content .row .left-section .intro_wrapp .intro_content .intro__inner .intro_btn_wrap .btn_item a.sec-btn {
  margin: 0;
}
.u4m-alternating-content .row .media_section {
  width: calc(50% - 30px);
}
@media (max-width: 767px) {
  .u4m-alternating-content .row .media_section {
    width: 100%;
  }
}
.u4m-alternating-content .row .media_section img {
  border-radius: 4rem;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15));
}
.u4m-alternating-content .row .media_section .vid_section {
  min-height: 390px;
  padding-bottom: 56%;
  position: relative;
}
.u4m-alternating-content .row .media_section .vid_section .poster_img {
  cursor: pointer;
  left: 0;
  position: absolute;
  top: -1px;
  z-index: 9;
  height: 100%;
  width: 100%;
}
.u4m-alternating-content .row .media_section .vid_section .poster_img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.u4m-alternating-content .row .media_section .vid_section .poster_img .playIcon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.u4m-alternating-content .row .media_section .vid_section .hubspot_video video {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.u4m-alternating-content .row .media_section .vid_section .external_vid .iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.u4m-alternating-content .row .media_section .vid_section.video-enable .poster_img {
  display: none;
}
.u4m-alternating-content .row .media_section .media_content :is(h1.h2, h3, h4, h5, h6) {
  margin-bottom: 20rem;
}