{% set moduleName = 'u4m-alternating-content' %}
{% set ExtramoduleClass = '' %}
{% include "../partials/u4-module-includes.html" %}

<div class="page-center ">
	<div class="row {{ module.module_settings.select_content_alignment }}">
		<div class="left-section">
			<div class="intro_wrapp">
				{{macros.introGroup(module.intro_content)}}
			</div>
		</div>
		<div class="media_section">
			{% if module.media_section.image_field.src %}
			{% set sizeAttrs = 'width="{{ module.media_section.image_field.width|escape_attr }}" height="{{ module.media_section.image_field.height|escape_attr }}"' %}
			{% if module.media_section.image_field.size_type == 'auto' %}
			{% set sizeAttrs = 'width="{{ module.media_section.image_field.width|escape_attr }}" height="{{ module.media_section.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
			{% elif module.media_section.image_field.size_type == 'auto_custom_max' %}
			{% set sizeAttrs = 'width="{{ module.media_section.image_field.max_width|escape_attr }}" height="{{ module.media_section.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
			{% endif %}
			{% set loadingAttr = module.media_section.image_field.loading != 'disabled' ? 'loading="{{ module.media_section.image_field.loading|escape_attr }}"' : '' %}
			<img src="{{ module.media_section.image_field.src|escape_url }}" alt="{{ module.media_section.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
			{% endif %}
		</div>
	</div>
</div>
</section>












