@import "../../css/_module-imports";
.u4m-alternating-content {
  position: relative;

  margin: 0 auto;
  .bg_overlayColor {
    background: rgba($white, 0.5);
    @include tabletvert {
      background: rgba($white, 0.8) !important;
    }
  }
  @include tabletvert {
    .bg_image {
      background-size: cover !important;
      width: 100% !important;
    }
  }
  .row.mbbottom {
    flex-direction: column-reverse !important;
  }
  .row.mbtop {
    flex-direction: column !important;
  }
  &.left_col {
    .bg_image {
      background-position: top right;
      background-size: cover;
      width: 50%;
      left: auto;
      right: 0;
    }
    .bg_overlayColor {
      background: linear-gradient(90.02deg, $white 55.51%, rgba($white, 0) 90%);
    }
  }
  &.right_col {
    .bg_image {
      background-position: top left;
      background-size: cover;
      width: 50%;
    }
    .bg_overlayColor {
      background: linear-gradient(
        90.13deg,
        rgba($white, 0) 32.05%,
        rgba($white, 0.665271) 37.45%,
        $white 45.99%
      );
    }
  }
  .gradient1 {
    background-image: $gradientnew1;
  }

  .row {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    align-items: center;

    @include tabletvert {
      gap: 30px;
      flex-direction: column-reverse;
    }
    &.con {
      align-items: start;
    }

    &.right_col {
      flex-direction: row-reverse;
      @include tabletvert {
        flex-direction: column-reverse;
      }
    }

    .left-section {
      width: calc(50% - 30px);

      @include tabletvert {
        width: 100%;
      }

      .intro_wrapp {
        .intro_content {
          margin-bottom: 0;
          max-width: 100%;
          padding: 0;
          text-align: left;
          width: 100%;

          .intro__inner {
            .eyebrow_text {
              @include size14;
            }
            .intro_desc {
              margin-bottom: 32px;
            }
            .intro_btn_wrap {
              justify-content: flex-start;
              .btn_item {
                a.sec-btn {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }

    .media_section {
      width: calc(50% - 30px);
      @include tabletvert {
        width: 100%;
      }
      img {
        border-radius: $borderRadius;
        filter: $dropshadow;
      }
      .vid_section {
        min-height: 390px;
        padding-bottom: 56%;
        position: relative;
        .poster_img {
          cursor: pointer;
          left: 0;
          position: absolute;
          top: -1px;
          z-index: 9;
          height: 100%;
          width: 100%;
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
          .playIcon {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 9;
          }
        }
        .hubspot_video {
          video {
            height: 100%;
            left: 0;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            top: 0;
            width: 100%;
          }
        }
        .external_vid {
          .iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
          }
        }
        &.video-enable {
          .poster_img {
            display: none;
          }
        }
      }
      .media_content {
        :is(h1.h2, h3, h4, h5, h6) {
          margin-bottom: 20rem;
        }
      }
    }
  }
}
