html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

.u4m-team-grid .team_grid_row {
  row-gap: 20px;
  margin: 0 -10px;
}
@media (min-width: 992px) {
  .u4m-team-grid .team_grid_row.twocol {
    justify-content: center;
  }
  .u4m-team-grid .team_grid_row.twocol .team_item {
    min-width: 370px;
    width: auto;
  }
}
.u4m-team-grid .team_grid_row .team_item {
  width: 33.33%;
  padding: 0 10px;
}
.u4m-team-grid .team_grid_row .team_item .team_item_inn {
  height: 100%;
  padding: 36px 24px;
  border-radius: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.u4m-team-grid .team_grid_row .team_item .team_item_inn .team_content {
  width: 100%;
}
.u4m-team-grid .team_grid_row .team_item .team_item_inn .team_img {
  width: 200px;
  margin-left: auto;
  height: 200px;
  margin-right: auto;
  margin-bottom: 32px;
  border-radius: 1000px;
  overflow: hidden;
}
.u4m-team-grid .team_grid_row .team_item .team_item_inn .team_img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.u4m-team-grid .team_grid_row .team_item .team_item_inn .member_position {
  font-weight: 500;
  margin-bottom: 20px;
  color: #213944;
}
.u4m-team-grid .team_grid_row .team_item .member_name {
  margin-bottom: 8px;
  color: #213944;
  font-weight: 600;
  font-size: 23rem;
  line-height: 1;
}
.u4m-team-grid .team_grid_row .team_item .bio_popup_text {
  margin-bottom: 0;
}
.u4m-team-grid .team_grid_row .team_item .bio_popup_text a {
  gap: 4px;
  color: #006f3c;
  display: flex;
  padding: 0;
}
.u4m-team-grid .team_grid_row .team_item .bio_popup_text a:hover {
  color: #213944;
}
.u4m-team-grid .team_grid_row .team_item .member_share {
  margin-top: 15px;
}
.u4m-team-grid .team_grid_row .team_item .member_share ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 20px;
  flex-wrap: wrap;
}
.u4m-team-grid .team_grid_row .team_item .member_share ul li {
  padding: 0 !important;
  margin: 0;
  width: 24px;
  height: 24px;
}
.u4m-team-grid .team_grid_row .team_item .member_share ul li:before {
  display: none !important;
}
.u4m-team-grid .team_grid_row .team_item .member_share ul li a {
  display: block;
  width: 24px;
  height: 24px;
  color: #006f3c;
}
.u4m-team-grid .team_grid_row .team_item .member_share ul li a img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100% !important;
}
.u4m-team-grid .team_grid_row .team_item .member_share ul li a svg {
  fill: currentColor;
  color: currentColor;
}
.u4m-team-grid .team_grid_row .team_item .member_share ul li a svg path {
  fill: currentColor;
}
@media (max-width: 991px) {
  .u4m-team-grid .team_grid_row .team_item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .u4m-team-grid .team_grid_row .team_item {
    width: 100%;
  }
}
.u4m-team-grid .team_grid_row .team_item.card_reverse_text .member_name {
  color: #ffffff;
}
.u4m-team-grid .team_grid_row .team_item.card_reverse_text .team_item_inn .member_position {
  color: #ffffff;
}
.u4m-team-grid .team_grid_row .team_item.card_reverse_text .bio_popup_text a {
  color: #ffffff;
}
.u4m-team-grid .team_grid_row .team_item.card_reverse_text .bio_popup_text a:hover {
  color: #ffffff;
}
.u4m-team-grid .team_grid_row .team_item.card_reverse_text .member_share ul li a {
  color: #ffffff;
}
.u4m-team-grid .team_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  display: none;
  z-index: 9999;
  padding: 30px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.65);
}
@media (max-width: 767px) {
  .u4m-team-grid .team_popup {
    padding: 30px 20px;
  }
}
.u4m-team-grid .team_popup .team_popup_container {
  max-width: 800px;
  margin: auto;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn {
  gap: 32px;
  background: #ffffff;
  border-radius: 4rem;
  overflow: hidden;
  padding: 36px 24px;
  width: 100%;
  position: relative;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_img_col {
  max-width: 200px;
  width: 100%;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_img_col .popup_img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_img_col .popup_img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_cnt {
  width: calc(100% - 232px);
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_cnt .member_name {
  margin-bottom: 8px;
  color: #213944;
  font-size: 23rem;
  line-height: 1;
  font-weight: 600;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_cnt .member_position {
  margin-bottom: 20px;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_cnt .popup_cnt_inn {
  margin-bottom: 20px;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_cnt .popup_cnt_inn p:last-child {
  margin: 0;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_cnt .popup_cnt_inn > * {
  color: #213944;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_cnt .linkedin_textWrap .text.arrow-link {
  justify-content: flex-start;
  padding: 0;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_cnt .member_share ul {
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_cnt .member_share ul li {
  height: 24px;
  margin: 0;
  padding: 0 !important;
  width: 24px;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_cnt .member_share ul li:before {
  display: none !important;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_cnt .member_share ul li a {
  color: #006f3c;
  display: block;
  height: 24px;
  width: 24px;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_cnt .member_share ul li a img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100% !important;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_cnt .member_share ul li a svg {
  fill: currentColor;
  color: currentColor;
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_cnt .member_share ul li a svg path {
  fill: currentColor;
}
@media (max-width: 767px) {
  .u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn .popup_cnt {
    width: 100%;
  }
}
.u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn svg.popup_close {
  position: absolute;
  right: 20px;
  fill: #213944;
  top: 20px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .u4m-team-grid .team_popup .team_popup_container .flex_row.team_popup_inn {
    flex-direction: column;
  }
}
.u4m-team-grid .team_popup.team_open {
  display: flex;
}
.u4m-team-grid .arrow-link {
  font-size: 16rem;
}

body.overflow-hidden {
  overflow: hidden;
}