html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-video-background {
  position: relative;
  display: grid;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position: 50%;
}
section.u4m-video-background video.video {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.u4m-video-background video.video::-webkit-media-controls {
  display: none !important;
}
@media (max-width: 1024px) {
  section.u4m-video-background video.video {
    display: none;
  }
}
section.u4m-video-background div.content-wrap {
  z-index: 1;
}
section.u4m-video-background div.content-wrap div.content-inner {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240rem;
  padding-left: 20rem;
  padding-right: 20rem;
  max-width: 800rem;
  padding: 20rem;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
section.u4m-video-background div.content-wrap div.content-inner h2 {
  font-family: "Inter";
  font-size: 28rem;
  font-weight: 600;
  margin-bottom: 30rem;
  line-height: 1;
}
@media (max-width: 1024px) {
  section.u4m-video-background div.content-wrap div.content-inner h2 {
    font-size: 22rem;
  }
}
@media (max-width: 580px) {
  section.u4m-video-background div.content-wrap div.content-inner h2 {
    font-size: 20rem;
    margin-bottom: 20rem;
  }
}
section.u4m-video-background div.content-wrap div.content-inner button {
  display: inline-block;
  font-family: "Inter";
  color: #ffffff;
  background-color: #007c43;
  border: 1px solid #007c43;
  border-radius: 12rem;
  padding: 11rem 24rem;
  margin: 0;
  transition: 0.1s ease-in;
  font-weight: 600;
  font-size: 16rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
section.u4m-video-background div.content-wrap div.content-inner button:hover, section.u4m-video-background div.content-wrap div.content-inner button:focus {
  background-color: #ffffff;
  color: #007c43;
}