{% set moduleName = 'u4m-slider-tabs-top' %}
{% set ExtramoduleClass = module.module_overrides.background_settings.select_color %}
{% include "../partials/u4-module-includes.html" %}

<div class="page-center ">
	<div class="intro_wrapp">
		{{macros.introGroup(module.intro_content)}}
	</div>
</div>
<div class="slider-tabs-top-wrapper">
	<div class="page-center">
		<div class="row">
			<div class="tabber_top_tabs">
				<ul class="tab-list">
					{% for item in module.tabber_items %}
					<li class="{% if loop.first %}active{% endif %}">
						<a href="javascript:void(0);" data-tab="tab{{ loop.index }}">{{ item.content_section.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div> 
			<div class="tabber_tab_content">
				{% for item in module.tabber_items %}
				<div class="tabber_cntnt {% if loop.first %}active{% endif %} {{ item.content_alignment }}" content-id="tab{{ loop.index }}">
					<div class="toggle_btn">
						<a href="javascript:void(0);">{{ item.content_section.title }} <span class="plus">+</span><span class="minus">-</span></a>
					</div>
					<div class="tabber_cntnt_row">
						<div class="left_wrapper">
							{% if item.content_section.title %}
							<h3>
								{{ item.content_section.title }}
							</h3>
							{% endif %}
							{% if item.content_section.content %}
							<div class="tab_content">
								{{ item.content_section.content }}
							</div>
							{% endif %}
							<div class="tabber-btn">
								{{ macros.singleButtonGroup(item.content_section.button_group) }}
							</div>
						</div>
						<div class="right_section {{ item.media_section.select_column_type }} {{ item.media_section.select_media_type }}">
							{% if item.media_section.select_column_type == 'content' %}
							<div class="inner_cntnt">
								{{ item.media_section.content }}
							</div>
							{% endif %}
							{% if item.media_section.select_column_type == 'media' %}
							<div class="media_sec {{ item.media_section.select_video_type }}">
								{% if item.media_section.select_media_type == 'image' %}
								<div class="img_section">
									{% if item.media_section.image_field.src %}
									{% set sizeAttrs = 'width="{{ item.media_section.image_field.width|escape_attr }}" height="{{ item.media_section.image_field.height|escape_attr }}"' %}
									{% if item.media_section.image_field.size_type == 'auto' %}
									{% set sizeAttrs = 'width="{{ item.media_section.image_field.width|escape_attr }}" height="{{ item.media_section.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
									{% elif item.media_section.image_field.size_type == 'auto_custom_max' %}
									{% set sizeAttrs = 'width="{{ item.media_section.image_field.max_width|escape_attr }}" height="{{ item.media_section.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
									{% endif %}
									{% set loadingAttr = item.media_section.image_field.loading != 'disabled' ? 'loading="{{ item.media_section.image_field.loading|escape_attr }}"' : '' %}
									<img src="{{ item.media_section.image_field.src|escape_url }}" alt="{{ item.media_section.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
									{% endif %}
								</div>
								{% endif %}
								{% if item.media_section.select_media_type == 'video' %}
								<div class="vid_section">
									{% if item.media_section.poster_image.src %}
									<div class="poster_img">
										{% if item.media_section.poster_image.src %}
										{% set sizeAttrs = 'width="{{ item.media_section.poster_image.width|escape_attr }}" height="{{ item.media_section.poster_image.height|escape_attr }}"' %}
										{% if item.media_section.poster_image.size_type == 'auto' %}
										{% set sizeAttrs = 'width="{{ item.media_section.poster_image.width|escape_attr }}" height="{{ item.media_section.poster_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
										{% elif item.media_section.poster_image.size_type == 'auto_custom_max' %}
										{% set sizeAttrs = 'width="{{ item.media_section.poster_image.max_width|escape_attr }}" height="{{ item.media_section.poster_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
										{% endif %}
										{% set loadingAttr = item.media_section.poster_image.loading != 'disabled' ? 'loading="{{ item.media_section.poster_image.loading|escape_attr }}"' : '' %}
										<img src="{{ item.media_section.poster_image.src|escape_url }}" alt="{{ item.media_section.poster_image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
										{% endif %}
										<div class="playIcon">
											<svg xmlns="http://www.w3.org/2000/svg" width="99" height="95" viewBox="0 0 99 95" fill="none">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M98.2759 47.5C98.2759 21.2601 76.2827 0 49.1379 0C21.9932 0 0 21.2601 0 47.5C0 73.7399 21.9932 95 49.1379 95C76.2827 95 98.2759 73.7399 98.2759 47.5ZM72.3138 43.6869L37.8535 23.3468C34.7599 21.6739 30.8635 23.822 30.8635 27.3388V66.8785C30.8635 70.3763 34.7403 72.5434 37.8535 70.8705L72.3138 51.6709C75.5249 49.9411 75.5249 45.4358 72.3138 43.6869ZM49.544 9.42149C27.5558 9.42149 9.74634 26.6373 9.74634 47.8926C9.74634 69.1478 27.5558 86.3636 49.544 86.3636C71.5322 86.3636 89.3417 69.1478 89.3417 47.8926C89.3417 26.6373 71.5322 9.42149 49.544 9.42149Z" fill="white"></path>
											</svg>
										</div>
									</div>
									{% endif %}
									{% if item.media_section.select_video_type == 'hubspot' %}
									<div class="hubspot_video">
										<video loop>
											<source src="{{ item.media_section.select_video }}" type="video/mp4">
										</video>
									</div>
									{% endif %}
									{% if item.media_section.select_video_type == 'external' %}
									<div class="external_vid">
										<div class="external_video">
											<iframe data-src="{{ item.media_section.embed_url }}" src="" class="iframe" allow="autoplay" loading="lazy"></iframe>
										</div>
									</div>
									{% endif %}
								</div>
								{% endif %}
							</div>
							{% endif %}
							{% if item.media_section.select_column_type == 'featured' %}
							<div class="featuredsec">
								<h5>{{item.media_section.featured.title}}</h5>
								<ul>
									{% for item2 in item.media_section.featured.text %}
									<li><span class="material-symbols-outlined">{{item.media_section.featured.material_icon}}</span>{{ item2 }}</li>
									{% endfor %}
								</ul>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</section>

