html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

.u4m-slider-tabs-top.soft_white .slider-tabs-top-wrapper .row .tabber_top_tabs ul {
  background-color: #ffffff;
}
.u4m-slider-tabs-top.soft_white ul:not([class]) li:not([class]):before {
  background-color: #ffffff !important;
}
.u4m-slider-tabs-top.reverse-text .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt.active .toggle_btn a {
  color: #213944;
}
.u4m-slider-tabs-top.reverse-text .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .toggle_btn a {
  color: #ffffff;
}
.u4m-slider-tabs-top .intro_content .eyebrow_text {
  font-size: 14rem;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper {
  position: relative;
  z-index: 9;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row {
  padding: 0;
}
@media (max-width: 767px) {
  .u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_top_tabs {
    display: none;
  }
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_top_tabs ul {
  padding: 8px 12px;
  margin: 0;
  gap: 12px;
  list-style: none;
  display: flex;
  justify-content: center;
  background: #faf9f7;
  text-align: center;
  border-radius: 4rem;
  justify-content: space-between;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_top_tabs ul li {
  border-radius: 4rem;
  max-width: 185px;
  font-size: 16rem;
  font-weight: 500;
  padding: 8px 12px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin: 0;
  background: none;
  justify-content: center;
}
@media (max-width: 1280px) {
  .u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_top_tabs ul li {
    max-width: unset;
  }
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_top_tabs ul li.active {
  background: #dcecd6;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_top_tabs ul li a {
  text-decoration: none;
  color: #213944;
  display: inline-block;
  font-weight: 500;
}
@media (max-width: 1280px) {
  .u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_top_tabs ul li a {
    font-size: 14rem;
  }
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt_row {
  display: flex;
  gap: 60px;
  align-items: center;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt_row {
    display: none;
    padding: 20px;
  }
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt {
  display: none;
  padding: 40px 20px 20px 20px;
}
@media (max-width: 767px) {
  .u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt {
    display: block;
    padding: 0;
  }
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt.right_align .tabber_cntnt_row {
  flex-direction: row-reverse;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt.active .toggle_btn {
  background: #b5dda5;
  border-radius: 12px;
  font-weight: 500;
  pointer-events: none;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt.active .toggle_btn a span.plus {
  display: none;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt.active .toggle_btn a span.minus {
  display: block;
}
@media (max-width: 767px) {
  .u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt.active .tabber_cntnt_row {
    display: block;
  }
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .toggle_btn {
  display: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .toggle_btn {
    display: flex;
    margin-bottom: 10px;
    min-height: 58px;
    padding: 8px 12px;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
  }
  .u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .toggle_btn a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: #213944;
  }
  .u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .toggle_btn a span {
    font-size: 24rem;
  }
  .u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .toggle_btn a span.minus {
    display: none;
  }
  .u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .toggle_btn a br {
    display: none;
  }
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .left_wrapper {
  width: 50%;
}
@media (max-width: 767px) {
  .u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .left_wrapper {
    width: 100%;
    margin-bottom: 40px;
  }
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .left_wrapper h3 {
  font-size: 32rem;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .left_wrapper h3 {
    font-size: 22rem;
  }
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .left_wrapper h3 br {
  display: none;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .left_wrapper .tabber-btn {
  margin-top: 32px;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .left_wrapper .tabber-btn .intro_btn_wrap {
  justify-content: flex-start;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .left_wrapper .tabber-btn .intro_btn_wrap .btn_item a {
  margin: 0;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section {
  width: 50%;
}
@media (max-width: 767px) {
  .u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section {
    width: 100%;
  }
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section.image .media_sec {
  padding: 0;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section .media_sec {
  padding-bottom: 56%;
  position: relative;
  border-radius: 4rem;
  overflow: hidden;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section .media_sec .img_section {
  overflow: hidden;
  border-radius: 4rem;
}
@media (max-width: 767px) {
  .u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section .media_sec {
    padding-bottom: 66.6%;
    min-height: unset;
  }
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section .media_sec .vid_section.video-enable .poster_img {
  display: none;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section .media_sec .poster_img {
  cursor: pointer;
  position: absolute;
  z-index: 9;
  top: -1px;
  left: 0;
  height: 100%;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section .media_sec .poster_img .playIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section .media_sec .external_vid .iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section .media_sec .hubspot_video video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section .inner_cntnt h6 {
  margin-bottom: 20px;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section .inner_cntnt ul {
  margin-bottom: 5px;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section .featuredsec ul {
  margin: 0;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section .featuredsec ul li {
  margin-bottom: 10px;
  letter-spacing: normal;
  position: relative;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section .featuredsec ul li:before {
  display: none !important;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt .right_section .featuredsec ul li span.material-symbols-outlined {
  font-size: 16px;
  line-height: 1;
  align-items: center;
  background: #c49e5b;
  border-radius: 100%;
  color: #ffffff;
  display: flex;
  height: 20px;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}
.u4m-slider-tabs-top .slider-tabs-top-wrapper .row .tabber_tab_content .tabber_cntnt.active {
  display: block;
  gap: 60px;
}