@import "../../css/_module-imports";


.u4m-accordion {
	.accordionItemsContainer {
		.accItem {
			padding: 20px 24px;
			display: flex;
			flex-direction: column;
			gap: 12px;
			border-radius: 4px;
			overflow: hidden;
			h6 {
				margin: 0;
				display: flex;
				justify-content: space-between;
				cursor: pointer;
				gap: 10px;
				align-items: center;
        color: $heading;
				svg.remove {
					display: none;
				}
				svg.add {
					display: block;
				}
        svg{
          fill: currentColor;
          color: currentColor;
          path{
            fill: currentColor;
            color: currentColor;
          }
        }
			}
			.accCont {
				display: none;
			}
      .accContDesc {
        > * {
          color: $heading;
        }
        p {
          &:last-child {
            margin: 0;
          }
        }
      }
      &.accordion_reverse_text{
        h6 {
color: $white;
        }
        .accContDesc {
          > * {
            color: $white;
          }
        }
      }
		}
		display: flex;
		flex-direction: column;
		gap: 12px;
		.accItem.activeAcc {
			h6 {
				svg.add {
					display: none;
				}
				svg.remove {
					display: block;
				}
			}
		}

	}
}
