html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

.u4m-accordion .accordionItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.u4m-accordion .accordionItemsContainer .accItem {
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 0;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}
.u4m-accordion .accordionItemsContainer .accItem h6 {
  margin: 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  gap: 10px;
  align-items: center;
  color: #213944;
  font-weight: 600;
  font-size: 19rem;
}
.u4m-accordion .accordionItemsContainer .accItem h6 svg.remove {
  display: none;
}
.u4m-accordion .accordionItemsContainer .accItem h6 svg.add {
  display: block;
}
.u4m-accordion .accordionItemsContainer .accItem h6 svg {
  fill: currentColor;
  color: currentColor;
}
.u4m-accordion .accordionItemsContainer .accItem h6 svg path {
  fill: currentColor;
  color: currentColor;
}
.u4m-accordion .accordionItemsContainer .accItem .accCont {
  display: none;
}
.u4m-accordion .accordionItemsContainer .accItem .accContDesc {
  padding-top: 12px;
}
.u4m-accordion .accordionItemsContainer .accItem .accContDesc > * {
  color: #213944;
}
.u4m-accordion .accordionItemsContainer .accItem .accContDesc p:last-child {
  margin: 0;
}
.u4m-accordion .accordionItemsContainer .accItem.accordion_reverse_text h6 {
  color: #ffffff;
}
.u4m-accordion .accordionItemsContainer .accItem.accordion_reverse_text .accContDesc > * {
  color: #ffffff;
}
.u4m-accordion .accordionItemsContainer .accItem.activeAcc h6 svg.add {
  display: none;
}
.u4m-accordion .accordionItemsContainer .accItem.activeAcc h6 svg.remove {
  display: block;
}